<div class="dcaa-trusted-by">
  <div class="trusted-head">
    <h2 class="mb-1">Trusted By WorldWide</h2>
  </div>
  <div class="items">
    <div class="item">
      <div class="message">
        <div class="desc-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta hic magni nostrum optio
          voluptatem. Adipisci aperiam beatae enim explicabo incidunt iste mollitia praesentium quisquam quos
          reiciendis reprehenderit, suscipit vel.
        </div>
        <div class="thumb">
          <img src="assets/images/thumb.png">
          <div class="person-info">
            <p class="mb-0 bold-text">John Doe</p>
            <p class="mt-0">Private Jet Owner</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="message">
        <div class="desc-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta hic magni nostrum optio
          voluptatem. Adipisci aperiam beatae enim explicabo incidunt iste mollitia praesentium quisquam quos
          reiciendis reprehenderit, suscipit vel.
        </div>
        <div class="thumb">
          <img src="assets/images/thumb.png">
          <div class="person-info">
            <p class="mb-0 bold-text">John Doe</p>
            <p class="mt-0">Private Jet Owner</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="message">
        <div class="desc-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta hic magni nostrum optio
          voluptatem. Adipisci aperiam beatae enim explicabo incidunt iste mollitia praesentium quisquam quos
          reiciendis reprehenderit, suscipit vel.
        </div>
        <div class="thumb">
          <img src="assets/images/thumb.png">
          <div class="person-info">
            <p class="mb-0 bold-text">John Doe</p>
            <p class="mt-0">Private Jet Owner</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="message">
        <div class="desc-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta hic magni nostrum optio
          voluptatem. Adipisci aperiam beatae enim explicabo incidunt iste mollitia praesentium quisquam quos
          reiciendis reprehenderit, suscipit vel.
        </div>
        <div class="thumb">
          <img src="assets/images/thumb.png">
          <div class="person-info">
            <p class="mb-0 bold-text">John Doe</p>
            <p class="mt-0">Private Jet Owner</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
