<div class="dcaa-trusted-by">
  <div class="container">
    <div class="row">
        <h2 class="card-title col-md-2">Trusted By WorldWide</h2>
        <div class="card-deck col-md-10">
          <div class="card border-0">
            <div class="card-body">
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="author">
                <div class="d-flex flex-row">
                  <div class="p-0 w-25">
                    <img src="https://c1.staticflickr.com/3/2862/12328317524_18e52b5972_k.jpg"
                         class="img-thumbnail border-0 border-radius"/>
                  </div>
                  <div class="p-2 w-75">
                    <h6 class="font-weight-bold small mb-1">Shawn Rick</h6>
                    <h6 class="small">Privet Jet Owner</h6>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-body">
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="author">
                <div class="d-flex flex-row">
                  <div class="p-0 w-25">
                    <img src="https://c1.staticflickr.com/3/2862/12328317524_18e52b5972_k.jpg"
                         class="img-thumbnail border-0 border-radius"/>
                  </div>
                  <div class="p-2 w-75">
                    <h6 class="font-weight-bold small mb-1">Shawn Rick</h6>
                    <h6 class="small">Privet Jet Owner</h6>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-body">
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="author">
                <div class="d-flex flex-row">
                  <div class="p-0 w-25">
                    <img src="https://c1.staticflickr.com/3/2862/12328317524_18e52b5972_k.jpg"
                         class="img-thumbnail border-0 border-radius"/>
                  </div>
                  <div class="p-2 w-75">
                    <h6 class="font-weight-bold small mb-1">Shawn Rick</h6>
                    <h6 class="small">Privet Jet Owner</h6>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-body">
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <div class="author">
                <div class="d-flex flex-row">
                  <div class="p-0 w-25">
                    <img src="https://c1.staticflickr.com/3/2862/12328317524_18e52b5972_k.jpg"
                         class="img-thumbnail border-0 border-radius"/>
                  </div>
                  <div class="p-2 w-75">
                    <h6 class="font-weight-bold small mb-1">Shawn Rick</h6>
                    <h6 class="small">Privet Jet Owner</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
