<div class="mobile-navbar">
  <div class="overlay" id="mobileOverlay" (click)="closeNavbar()"></div>
  <div class="justify-content-between collapse" id="mobileNavbar" data-hover="dropdown">
    <form class="form-inline mt-2 my-lg-0">
      <div class="form-group search ml-2 mr-2">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <div class="language d-flex justify-content-between align-items-center container">
        <div class="login">
          <span class="icon-login"></span>
        </div>
        <div class="switch-language d-flex">
          <span class="selected">ENG</span>
          <div class="ml-1 mr-1">/</div>
          <span>العربية</span>
        </div>
        <div class="submit-search">
          <span class="icon-search"></span>
        </div>
      </div>
    </form>
    <div class="accessibility-mobile">
      <div class="access-control">
        <span class="icon-settings"></span>
        <span class="icon-chat"></span>
        <span class="icon-sounds"></span>
      </div>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link p-3" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-3" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-3" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link p-3" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <ul class="dropdown-menu sub-category ml-3 text-left" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
        </ul>
      </li>
    </ul>
    <div class="nav-footer">
      <div class="footer-container row mt-4">
        <div class="social container d-flex justify-content-center">
          <div class="social-item">
            <span class="icon-facebook"></span>
          </div>
          <div class="social-item">
            <span class="icon-twitter"></span>
          </div>
          <div class="social-item">
            <span class="icon-instagram"></span>
          </div>
          <div class="social-item">
            <span class="icon-youtube"></span>
          </div>
          <div class="social-item">
            <span class="icon-linkedin"></span>
          </div>
        </div>
        <div class="rights col-md-3"><span>Copyright © 2018 DCAA All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>
</div>
