<div class="dcaa-account-settings">
  <dcaa-page-banner
    [Title]="'About Us'"
    [Section]="'Our Vision & Mission'"
    [Image]="'assets/images/HEADER-IMAGE.png'"
  >
  </dcaa-page-banner>


  <div class="container">
    <div class="row">
      <div class="col-md-12 b-extra">
        <div class="row overflow-hidden">
          <div class="col-md-2">
            <ul class="list-group with-separator nav p-0 pt-5" id="list-tab" role="tablist">
              <li class="nav-link light-border text-left" routerLinkActive="active" routerLink="profile">User Profile</li>
              <li class="nav-link light-border text-left" routerLinkActive="active" routerLink="change-email">Change Email</li>
              <li class="nav-link light-border text-left" routerLinkActive="active" routerLink="change-password">Change Password</li>
              <li class="nav-link light-border text-left" routerLinkActive="active" routerLink="company-association">Company Association</li>
              <li class="nav-link light-border text-left" routerLinkActive="active" routerLink="view-register-aircraft">View & Register Aircraft</li>
              <li class="nav-link light-border text-left" routerLinkActive="active" routerLink="nature-of-business">Nature Of Business</li>
            </ul>
          </div>
          <div class="col-md-10 pt-5">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
