<div class="dcaa-header">
    <div class="top-header container d-flex justify-content-between align-items-center">
        <div class="logo-left">
            <img src="assets/images/gov-logo.png" width="200" title="{{'_logoTitleRight' | translate}}">
        </div>
        <div class="logo-right">
            <img src="assets/images/dcaa-logo.png" title="{{'_logoTitleRight' | translate}}">
        </div>
    </div>
    <dcaa-navbar></dcaa-navbar>
  <dcaa-navbar-responsive></dcaa-navbar-responsive>

</div>
