@import '../../../assets/styles/responsive';

.top-header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.logo-right, .logo-left {
  margin: 30px 160px;
}




