<header id="header" *ngIf="member">
    <div class="main-header">
        <nav class="main-menu" [style.z-index]="collapsed ? '1000' : ''">
            <div class="box-container" (click)="collapsed = !collapsed"
                 [ngClass]="collapsed ? 'nav-collapsed-active' : ''">
                <div class="navbar-menu">
                    <div class="navbar"
                         [ngClass]="collapsed ? 'nav-collapsed-active' : ''">
                        <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''">
                            <span [style.color]="collapsed ? '#fff' : ''"></span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="main-title">
            <div class="title">
                <h1>{{'_SiteName' | translate}}</h1>
                <p>{{'_SiteDescription' | translate}}</p>
            </div>
        </div>
        <div class="main-search">
            <div class="box-container">
                <div class="search"></div>
            </div>
        </div>
    </div>
    <div  class="nav-collapsed" *ngIf="collapsed" data-aos="fade-down" data-aos-duration="600">
        <a *ngIf="_appService.currentLanguage == 'en'"
           (click)="_appService.switchLanguage('ar'); collapsed = false">{{'_Navbar._LanguageSwitch' | translate}}</a>
        <a *ngIf="_appService.currentLanguage == 'ar'"
           (click)="_appService.switchLanguage('en'); collapsed = false">{{'_Navbar._LanguageSwitch' | translate}}</a>
        <a (click)="collapsed = false" routerLink="home">{{'_Navbar._HomePage' | translate}}</a>
        <a (click)="collapsed = false" routerLink="offers">{{'_Navbar._Offers' | translate}}</a>
        <a (click)="collapsed = false">{{'_Navbar._Products' | translate}}</a>
        <a (click)="collapsed = false">{{'_Navbar._Applications' | translate}}</a>
    </div>
</header>
