@import '../../../assets/styles/responsive';

.navbar-menu {
  #nav-toggle {
    cursor: pointer;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    & span, span:before, span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: 15px;
      background: #000;
      position: absolute;
      display: block;
      content: '';
    }

    & span:before {
      top: -8px;
    }

    & span:after {
      bottom: -8px;
    }

    & span, span:before, span:after {
      transition: all 500ms ease-in-out;
    }

    &.active span {
      background-color: transparent;
    }

    &.active span:before, &.active span:after {
      top: 0;
    }

    &.active span:before {
      transform: rotate(-45deg);
    }

    &.active span:after {
      transform: rotate(45deg);
    }

    @include respond-to(mobileS-screen) {
      padding: 15px;
    }
  }

  .navbar i {
    font-size: 51px;
    color: #fff;
    border: 30px;
    text-align: center;
    border-radius: unset;
    line-height: inherit;
    margin-top: -3px;
    width: 115px;
    height: 105px;
  }
}

.nav-collapsed-active {
  z-index: 550;
  background-color: $primary-color;
  transition: all 0.5s;

  #nav-toggle.active {
    span:before {
      background: #fff;
    }

    span:after {
      background: #fff;
    }
  }
}

.nav-collapsed {
  height: 100%;
  color: #43a9ff;
  display: flex;
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 1000;
  top: 0;
  margin: 25px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    margin: 15px 0;
    cursor: pointer;
    width: 100%;
    display: flex;
  }
}

header {
  margin-bottom: 175px;
  @include respond-to(laptop-screen) {
    margin-bottom: 75px;
  }
  @include respond-to(tablet-screen) {
    margin-bottom: 50px;
  }
  @include respond-to(mobileL-screen) {
    margin-bottom: 40px;
  }
  @include respond-to(mobileM-screen) {
    margin-bottom: 30px;
  }
  @include respond-to(mobileS-screen) {
    margin-bottom: 30px;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    margin: $margin-width-lg;
    @include respond-to(laptop-screen) {
      margin: $margin-width-md;
    }
    @include respond-to(tablet-screen) {
      margin: $margin-width-sm;
    }
    @include respond-to(mobileL-screen) {
      margin: $margin-width-xsm;
    }
    @include respond-to(mobileM-screen) {
      margin: $margin-width-xsm;
    }
    @include respond-to(mobileS-screen) {
      margin: $margin-width-xsm;
    }

    .main-title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & .title {
        width: 414px;
        height: 416px;
        border-radius: 55%;
        box-shadow: 0 0 65px #dae5ef;
        display: flex;
        justify-content: flex-end;
        margin-top: -208px;
        align-items: center;
        flex-direction: column;
        @include respond-to(mobileL-screen) {
          width: 200px;
          height: 200px;
          margin-top: -100px;
        }
        @include respond-to(mobileM-screen) {
          width: 200px;
          height: 200px;
          margin-top: -100px;
        }
        @include respond-to(mobileS-screen) {
          width: 165px;
          height: 165px;
          margin-top: -100px;
        }
      }

      & h1 {
        text-transform: uppercase;
        font-weight: $font-weight-medium;
        color: $primary-color;
        margin-bottom: -20px;
        @include respond-to(mobileL-screen) {
          margin: 0;
        }
        @include respond-to(mobileM-screen) {
          margin: 0;
        }
        @include respond-to(mobileS-screen) {
          margin: 0;
        }
      }

      & p {
        color: $secondary-color;
        font-size: 18px;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        margin-bottom: 80px;
        @include respond-to(mobileL-screen) {
          font-size: 9px;
          margin-bottom: 35px;
        }
        @include respond-to(mobileM-screen) {
          font-size: 9px;
          margin-bottom: 35px;
        }
        @include respond-to(mobileS-screen) {
          font-size: 9px;
          margin-bottom: 25px;
        }
      }

    }

    .main-menu {
      margin-top: 57px;
    }

    .main-search {
      margin-top: 57px;

      & .search {
        height: 25px;
        width: 25px;
        background-image: url(../../../assets/images/search.png);
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}

.box-container {
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 65px 0 $primary-shadow;
  height: 60px;
  width: 60px;

  &:hover {
    background: $primary-color;
    cursor: pointer;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    transition: all 0.5s;
  }


  @include respond-to(mobileS-screen) {
    height: 45px;
    width: 45px;
  }
}

.search-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #fff;
  margin-top: 20px;

  .search-group {
    display: flex;
    flex-direction: column;
  }

  .search-section {
    padding: 15px;
  }

  input {
    width: 230px;
    height: 35px;
    border: 1px solid #cdcdcd;
    padding: 5px 15px;
    box-shadow: 0 0 65px #dae5ef;
    border-radius: 20px;
  }

  .search-controls {
    padding: 15px;

    button {
      margin: 0 5px;
    }
  }

}

