@import '../../../assets/styles/responsive';

.landing {
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/landing-bg.png");
  @include respond-to(laptopL-screen) {
    height: 770px;
    background-position-y: 5rem;
  }
  @include respond-to(laptop-screen) {
    height: 530px;
    background-position-y: 5rem;
  }
  @include respond-to(tablet-screen) {
    height: 500px;
    background-position-y: 10rem;
  }
  @include respond-to(mobileL-screen) {
    height: 470px;
    background-position-y: 10rem;
  }
  @include respond-to(mobileM-screen) {
    height: 470px;
    background-position-y: 10rem;
  }
  @include respond-to(mobileS-screen) {
    height: 470px;
    background-position-y: 10rem;
  }
}

.cards {
  .c-item {
    width: 335px;
    height: 335px;
    margin: 0 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include respond-to(laptopL-screen) {
      width: 200px;
    }
    @include respond-to(laptop-screen) {
      width: 175px;
    }
    @include respond-to(tablet-screen) {
      width: 150px;
    }
    @include respond-to(mobileL-screen) {
      width: 125px;
      height: 250px;
    }
    @include respond-to(mobileM-screen) {
      width: 100px;
      height: 200px;
      padding: 25px 0;
    }
    @include respond-to(mobileS-screen) {
      width: 100px;
      height: 200px;
      padding: 25px 0;
    }

    .description p {
      @include respond-to(mobileL-screen) {
        margin: 0;
      }
      @include respond-to(mobileM-screen) {
        margin: 0;
      }
      @include respond-to(mobileS-screen) {
        margin: 0;
      }
    }

    img {
      margin-bottom: 25px;
      @include respond-to(mobileM-screen) {
        margin-bottom: 0;
      }
      @include respond-to(mobileS-screen) {
        margin-bottom: 0;
      }
    }

  }

  .cards-intro {
    margin-bottom: 100px;
    @include respond-to(mobileL-screen) {
      margin-bottom: 60px;
    }
    @include respond-to(mobileM-screen) {
      margin-bottom: 50px;
    }
    @include respond-to(mobileS-screen) {
      margin-bottom: 40px;
    }
  }
}

.image-cross {
  .ic-container {
    background-color: $secondary-background;
  }

  .ic-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ic-d {
    @include respond-to(laptop-screen) {
      margin: 0;
    }
    @include respond-to(tablet-screen) {
      margin: 0;
      text-align: center;
    }
    @include respond-to(mobileL-screen) {
      margin: 0;
      text-align: center;
    }
    @include respond-to(mobileM-screen) {
      margin: 0;
      text-align: center;
    }
    @include respond-to(mobileS-screen) {
      margin: 0;
      text-align: center;
    }
  }
}

.applications {
  .app-right {
    padding: 45px;
    margin-right: 10rem;
    margin-top: 10rem;
    @include respond-to(laptop-screen) {
      width: 200px;
      padding: 0;
      margin-right: 5rem;
      margin-top: 5rem;
    }
    @include respond-to(tablet-screen) {
      width: 150px;
      padding: 0;
      margin-right: 5rem;
      margin-top: 5rem;
    }
    @include respond-to(mobileL-screen) {
      width: 140px;
      padding: 0;
      margin-right: auto;
      margin-top: 1rem;
    }
    @include respond-to(mobileM-screen) {
      width: 130px;
      padding: 0;
      margin-right: auto;
      margin-top: 1rem;
    }
    @include respond-to(mobileS-screen) {
      width: 110px;
      padding: 0;
      margin-right: auto;
      margin-top: 1rem;
    }
  }

  .app-left {
    padding: 45px;
    margin-left: 10rem;
    margin-bottom: 10rem;
    @include respond-to(laptop-screen) {
      width: 200px;
      padding: 0;
      margin-left: 5rem;
      margin-bottom: 5rem;
    }
    @include respond-to(tablet-screen) {
      width: 150px;
      padding: 0;
      margin-left: 5rem;
      margin-bottom: 5rem;
    }
    @include respond-to(mobileL-screen) {
      width: 140px;
      padding: 0;
      margin-left: auto;
      margin-bottom: 0;
    }
    @include respond-to(mobileM-screen) {
      width: 130px;
      padding: 0;
      margin-left: auto;
      margin-bottom: 0;
    }
    @include respond-to(mobileS-screen) {
      width: 110px;
      padding: 0;
      margin-left: auto;
      margin-bottom: 0;
    }
  }

  .app-d {
    @include respond-to(laptop-screen) {
      margin: 0;
    }
    @include respond-to(tablet-screen) {
      margin: 0;
      text-align: center;
      width: 100%;
    }
    @include respond-to(mobileL-screen) {
      margin: 0;
      text-align: center;
      width: 100%;
    }
    @include respond-to(mobileM-screen) {
      margin: 0;
      text-align: center;
      width: 100%;
    }
    @include respond-to(mobileS-screen) {
      margin: 0;
      text-align: center;
      width: 100%;
    }
  }

  .app-image {
    @include respond-to(mobileL-screen) {
      text-align: center !important;
    }
    @include respond-to(mobileM-screen) {
      text-align: center !important;
    }
    @include respond-to(mobileS-screen) {
      text-align: center !important;
    }
  }
}

.quotes {
  .quotes-container {
    background: $secondary-background;
    height: 630px;
    overflow: hidden;
    @include respond-to(tablet-screen) {
      height: 400px;
    }
    @include respond-to(mobileL-screen) {
      height: auto;
    }
    @include respond-to(mobileM-screen) {
      height: auto;
    }
    @include respond-to(mobileS-screen) {
      height: auto;
    }
  }

  .quotes-image {
    position: relative;
    display: flex;
    justify-content: flex-end;

    @include respond-to(mobileL-screen) {
      justify-content: center;
      align-items: center;
    }

    img:first-child {
      position: absolute;
      padding: 35px;
    }

    img:last-child {
      margin-top: 5rem;
      height: 100%;
      @include respond-to(tablet-screen) {
        height: 50%;
      }
      @include respond-to(mobileL-screen) {
        height: 250px;
        width: auto;
      }
      @include respond-to(mobileM-screen) {
        height: auto;
        width: 100%;
      }
      @include respond-to(mobileS-screen) {
        height: auto;
        width: 100%;
      }
    }

    .user img:first-child {
      width: 255px;
      margin: auto;
      right: 0;
      @include respond-to(wide-screen) {
        width: auto;
      }
      @include respond-to(laptopL-screen) {
        width: auto;
      }
      @include respond-to(laptop-screen) {
        width: auto;
      }
      @include respond-to(mobileL-screen) {
        width: 220px;
        margin: auto;
        right: auto;
      }
    }
  }

  .quotes-desctiption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .q-d {
      padding: 10px;
      margin: 0 7rem;
      z-index: 10;
      @include respond-to(laptop-screen) {
        margin: 0 2rem;
      }
      @include respond-to(tablet-screen) {
        margin: 0 2rem;
      }
      @include respond-to(mobileL-screen) {
        margin: 0 2rem;
        text-align: center;
      }
      @include respond-to(mobileM-screen) {
        margin: 0 2rem;
      }
      @include respond-to(mobileS-screen) {
        margin: 0 2rem;
      }
    }
  }
}


::ng-deep [lang="ar"] {

  .landing {
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/landing-bg.png");
    @include respond-to(laptopL-screen) {
      height: 770px;
      background-position-y: 5rem;
    }
    @include respond-to(laptop-screen) {
      height: 530px;
      background-position-y: 5rem;
    }
    @include respond-to(tablet-screen) {
      height: 500px;
      background-position-y: 10rem;
    }
    @include respond-to(mobileL-screen) {
      height: 470px;
      background-position-y: 10rem;
    }
    @include respond-to(mobileM-screen) {
      height: 470px;
      background-position-y: 10rem;
    }
    @include respond-to(mobileS-screen) {
      height: 470px;
      background-position-y: 10rem;
    }
  }

  .cards {
    .c-item {
      width: 335px;
      height: 335px;
      margin: 0 15px;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include respond-to(laptopL-screen) {
        width: 200px;
      }
      @include respond-to(laptop-screen) {
        width: 175px;
      }
      @include respond-to(tablet-screen) {
        width: 150px;
      }
      @include respond-to(mobileL-screen) {
        width: 125px;
        height: 250px;
      }
      @include respond-to(mobileM-screen) {
        width: 100px;
        height: 200px;
        padding: 25px 0;
      }
      @include respond-to(mobileS-screen) {
        width: 100px;
        height: 200px;
        padding: 25px 0;
      }

      .description p {
        @include respond-to(mobileL-screen) {
          margin: 0;
        }
        @include respond-to(mobileM-screen) {
          margin: 0;
        }
        @include respond-to(mobileS-screen) {
          margin: 0;
        }
      }

      img {
        margin-bottom: 25px;
        @include respond-to(mobileM-screen) {
          margin-bottom: 0;
        }
        @include respond-to(mobileS-screen) {
          margin-bottom: 0;
        }
      }

    }

    .cards-intro {
      margin-bottom: 100px;
      @include respond-to(mobileL-screen) {
        margin-bottom: 60px;
      }
      @include respond-to(mobileM-screen) {
        margin-bottom: 50px;
      }
      @include respond-to(mobileS-screen) {
        margin-bottom: 40px;
      }
    }
  }

  .image-cross {
    .ic-container {
      background-color: $secondary-background;
    }

    .ic-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .ic-d {
      @include respond-to(laptop-screen) {
        margin: 0;
      }
      @include respond-to(tablet-screen) {
        margin: 0;
        text-align: center;
      }
      @include respond-to(mobileL-screen) {
        margin: 0;
        text-align: center;
      }
      @include respond-to(mobileM-screen) {
        margin: 0;
        text-align: center;
      }
      @include respond-to(mobileS-screen) {
        margin: 0;
        text-align: center;
      }
    }
  }

  .applications {
    .app-right {
      padding: 45px;
      margin-left: 10rem;
      margin-top: 10rem;
      @include respond-to(laptop-screen) {
        width: 200px;
        padding: 0;
        margin-left: 5rem;
        margin-top: 5rem;
      }
      @include respond-to(tablet-screen) {
        width: 150px;
        padding: 0;
        margin-left: 5rem;
        margin-top: 5rem;
      }
      @include respond-to(mobileL-screen) {
        width: 140px;
        padding: 0;
        margin-left: auto;
        margin-top: 1rem;
      }
      @include respond-to(mobileM-screen) {
        width: 130px;
        padding: 0;
        margin-left: auto;
        margin-top: 1rem;
      }
      @include respond-to(mobileS-screen) {
        width: 110px;
        padding: 0;
        margin-left: auto;
        margin-top: 1rem;
      }
    }

    .app-left {
      padding: 45px;
      margin-right: 10rem;
      margin-bottom: 10rem;
      @include respond-to(laptop-screen) {
        width: 200px;
        padding: 0;
        margin-right: 5rem;
        margin-bottom: 5rem;
      }
      @include respond-to(tablet-screen) {
        width: 150px;
        padding: 0;
        margin-right: 5rem;
        margin-bottom: 5rem;
      }
      @include respond-to(mobileL-screen) {
        width: 140px;
        padding: 0;
        margin-right: auto;
        margin-bottom: 0;
      }
      @include respond-to(mobileM-screen) {
        width: 130px;
        padding: 0;
        margin-right: auto;
        margin-bottom: 0;
      }
      @include respond-to(mobileS-screen) {
        width: 110px;
        padding: 0;
        margin-right: auto;
        margin-bottom: 0;
      }
    }

    .app-d {
      @include respond-to(laptop-screen) {
        margin: 0;
      }
      @include respond-to(tablet-screen) {
        margin: 0;
        text-align: center;
      }
      @include respond-to(mobileL-screen) {
        margin: 0;
        text-align: center;
      }
      @include respond-to(mobileM-screen) {
        margin: 0;
        text-align: center;
      }
      @include respond-to(mobileS-screen) {
        margin: 0;
        text-align: center;
      }
    }

    .app-image {
      @include respond-to(mobileL-screen) {
        text-align: center !important;
      }
      @include respond-to(mobileM-screen) {
        text-align: center !important;
      }
      @include respond-to(mobileS-screen) {
        text-align: center !important;
      }
    }
  }

  .quotes {
    .quotes-container {
      background: $secondary-background;
      height: auto;
      overflow: hidden;
      @include respond-to(tablet-screen) {
        height: 400px;
      }
      @include respond-to(mobileL-screen) {
        height: auto;
      }
      @include respond-to(mobileM-screen) {
        height: auto;
      }
      @include respond-to(mobileS-screen) {
        height: auto;
      }
    }

    .quotes-image {
      position: relative;
      display: flex;
      justify-content: flex-end;

      @include respond-to(mobileL-screen) {
        justify-content: center;
        align-items: center;
      }

      img:first-child {
        position: absolute;
        padding: 35px;
      }

      img:last-child {
        margin-top: 5rem;
        height: 100%;
        @include respond-to(tablet-screen) {
          height: 50%;
        }
        @include respond-to(mobileL-screen) {
          height: 250px;
          width: auto;
        }
        @include respond-to(mobileM-screen) {
          height: auto;
          width: 100%;
        }
        @include respond-to(mobileS-screen) {
          height: auto;
          width: 100%;
        }
      }

      .user img:first-child {
        width: 255px;
        margin: auto;
        left: 0;
        @include respond-to(wide-screen) {
          width: auto;
        }
        @include respond-to(laptopL-screen) {
          width: auto;
        }
        @include respond-to(laptop-screen) {
          width: auto;
        }
        @include respond-to(mobileL-screen) {
          width: 220px;
          margin: auto;
          left: auto;
        }
      }
    }

    .quotes-desctiption {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .q-d {
        text-align: right;
        padding: 10px;
        margin: 0 7rem;
        @include respond-to(laptop-screen) {
          margin: 0 2rem;
        }
        @include respond-to(tablet-screen) {
          margin: 0 2rem;
        }
        @include respond-to(mobileL-screen) {
          margin: 0 2rem;
          text-align: center;
        }
        @include respond-to(mobileM-screen) {
          margin: 0 2rem;
        }
        @include respond-to(mobileS-screen) {
          margin: 0 2rem;
        }
      }
    }
  }

}

