<div class="landing">
    <div class="landing-intro text-center">
        <h1 class="black-color">Simple PSD template with cool stuff</h1>
        <p class="mt-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

        <button class="primary-btn mt-3">explore template</button>
    </div>
</div>

<div class="cards">
    <div class="cards-intro text-center mt-4 mb-0">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <h1 class="black-color">Lorem ipsum dolor sit amet.</h1>
    </div>
    <div class="cards-item d-flex justify-content-center flex-wrap align-items-center">
        <div class="c-item text-center" *ngFor="let card of cards">
            <img [src]="card.image">
            <p class="black-color">{{card.title}}</p>
            <div class="description">
                <p class="mt-2 lh-1 p-sm" [innerHTML]="card.description"></p>
            </div>
        </div>
    </div>
    <div class="controls text-center">
        <button class="primary-btn mt-3 mb-7">check our offer</button>
    </div>
</div>

<div class="image-cross">
    <div class="ic-container" *ngFor="let ic of imageCross; let odd = odd">
        <div class="cross d-flex" [style.flex-direction]="odd ? 'row-reverse' : 'row'">
            <div class="ic-image col-6">
                <img [src]="ic.image" width="100%">
            </div>
            <div class="ic-description col-6">
                <div class="ic-d" [style.text-align]="odd ? 'center' : 'left'" [ngClass]="odd ? '' : 'mr-10'">
                    <h1 class="black-color">{{ic.title}}</h1>
                    <p class="p-md" [innerHTML]="ic.description"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="applications">
    <div class="app-container" *ngFor="let app of application; let odd = odd">
        <div class="apps d-flex" [style.flex-direction]="odd ? 'row-reverse' : 'row'">
            <div class="app-image col-6"
                 [style.background]="odd ? 'url(assets/images/sn2-bg.png)' :'url(assets/images/sn1-bg.png)'"
                 [style.background-repeat]="'no-repeat'"
                 [style.background-position]="odd ? 'right' :'40px -35px'"
                 [style.background-size]="'65%'"
                 [style.text-align]="odd ? 'left' : 'right'"
            >
                <img [src]="app.image" width="375px" [ngClass]="odd ? 'app-left' : 'app-right'">
            </div>
            <div class="app-description col-6 d-flex align-items-center"
                 [style.justify-content]="odd? 'flex-end' : 'flex-start'">
                <div class="app-d" [ngClass]="odd ? '' : 'mr-10'">
                    <h1>{{app.title}}</h1>
                    <p class="p-md" [innerHTML]="app.description"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="quotes mb-8">
    <div class="quotes-container d-flex">
        <div class="quotes-image col-6 ">
            <div class="user d-flex justify-content-center">
                <img src="/assets/images/user-photo.png" alt="">
                <img src="/assets/images/Snowflake.png" alt="">
            </div>
        </div>
        <div class="quotes-desctiption col-6">
           <div class="q-d">
               <h1 class="red-color">Template is awesome</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.
                   Suspendisse lobortis lectus vel imperdiet ullamcorper.
               </p>

               <p class="black-color mt-4 mb-0">John Doe</p>
               <p class="mt-0">CEO at Crios.com</p>
           </div>
        </div>
    </div>
</div>

