<div class="login-container">
    <div class="wrap-login">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
					<span class="login-form">
						Login
					</span>

            <div class="entries">
                <div class="wrap-input">
                    <input type="text" placeholder="Username" formControlName="username" maxlength="15"
                           autocomplete="off">
                </div>

                <div class="wrap-input">
                    <input type="password" placeholder="Password" formControlName="password" maxlength="30"
                           autocomplete="off">
                </div>
            </div>

            <div class="login-button">
                <button class="secondary-btn mb-2">{{'_Login' | translate}}</button>
            </div>

            <div class="alert red-color mb-1">
                {{error}}
            </div>

            <div class="text-center">
                <span class="txt1">Forgot</span>
                <a> Username / Password? </a>
            </div>

            <div class="text-center">
                <span class="txt1">Create an account?</span>
                <a> Sign up </a>
            </div>
        </form>
    </div>
</div>
