@import "../../../../variables";

.main-nav {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1000;
  color: $light-gray;

  .dropdown-menu {
    position: absolute;
    background-color: $gray;
    border-radius: 0;
    top: 4em;
    margin-top: -8px;
    padding: 0;
    border: 0;
    @include border(left, $border-size, solid, $primary !important);

    .dropdown-item {
      color: $white;

      &:hover {
        background-color: $primary-background;
        color: $primary;
      }
    }
  }

  .navbar-light .navbar-nav .nav-link {
    padding: 1em;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

input[aria-label="Search"] {
  border-radius: 25px;
  background: transparent;
  border: 1px solid $light-gray;
  caret-color: $white;
  color: $white;

  &:focus {
    background: transparent;
    color: $white;
    box-shadow: $gray-shadow;
  }
}

.search {
  position: relative;

  span {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    color: $light-gray;
    top: 7px;
    @include right(1.25em);
  }

  .form-control {
    height: calc(1.25em + 0.625rem);
  }
}

.login {
  padding: 0.10em 1.25em;

  span {
    font-size: 0.75em;
  }
}

.language span {
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}

.accessibility {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;

  .controllers {
    @include padding(right, 1.5em);
  }

  [class^="icon-"], [class*=" icon-"] {
    margin: 0 5px;

    &:hover {
      cursor: pointer;
      color: $white;
    }
  }

  .access-control {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
  }

  .live-chat {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      color: $white;

      p {
        color: $white;
      }
    }

    p {
      font-size: $paragraph-small-size;
      color: $light-gray;
    }
  }

}

.notification {
  position: relative;

  .notifier {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $primary;
    @include right(-10px);
    top: -6px;
    display: flex;
    justify-content: center;
    font-size: 0.625em;
  }

  &.mobile span {
    font-size: 1.5em;
  }
}

.icon-settings {
  transition: all .3s linear;

  &:hover {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.settings-control {
  top: 3.5em;
  @include right(60px);
  font-size: 0.70em;
  background-color: $banner-background;
  padding-top: 5px;
  padding-bottom: 2px;
}

.home-accessibility {
  .settings-control {
    @include right(180px);
    top: 3px;
    font-size: 0.70em;
    background-color: transparent;
    padding: 0;
  }
}

.dropdown-menu-right {
  top: 3.2em !important;
}

.dropdown-menu {
  @include left(0);
  @include right(auto);
}

.main-nav .dropdown-menu .dropdown-item:visited {
  color: $visited-link;

  &:hover {
    color: $primary;
  }
}
