<div class="dcaa-navbar">
  <div class="container">
    <div class="main-nav border-bottom">
      <nav class="navbar navbar-expand-md navbar-light container">
        <button (click)="navbarConfig($event)" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#mobileNavbar"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown" data-hover="dropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link p-3" routerLink="home" routerLinkActive="active">Home <span
                class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-3" routerLink="about" routerLinkActive="active">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-3" href="#">E-Services</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link p-3" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <ul class="dropdown-menu ml-3 text-left" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <div class="language d-flex justify-content-between align-items-center">
              <span class="selected">ENG</span>
              <div class="ml-1 mr-1">/</div>
              <span>العربية</span>
            </div>
            <div class="form-group search ml-2 mr-2">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
              <span class="icon-search"></span>
            </div>
            <button (click)="login()" class="btn btn-primary reverse my-2 my-sm-0 d-flex align-items-center login mr-3"
                    type="submit">
              <span class="icon-login mr-1"></span>Login
            </button>
          </form>
        </div>
        <dcaa-mobile-navbar></dcaa-mobile-navbar>
        <div class="notification mobile">
          <div class="notifier text-white">
            1
          </div>
          <span class="icon-notification"></span>
        </div>
      </nav>
      <div class="accessibility">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="bar bg-banner m-0 ml-3 mr-3">
                <div class="row">
                  <div class="col-md-9">
                    <dcaa-latest-news *ngIf="!_appService.isHome"></dcaa-latest-news>
                  </div>
                  <div class="col-md-3 d-flex">
                    <div class="d-flex align-items-center justify-content-center">
                      <span class="icon-settings"></span>
                      <span class="icon-saperator mr-3 ml-2"></span>
                      <div class="live-chat">
                        <p class="m-0">Live Chat</p>
                        <span class="icon-chat"></span>
                      </div>
                      <span class="icon-sounds"></span>
                      <div class="notification d-flex align-items-center ">
                        <div class="notifier text-white">
                          1
                        </div>
                        <span class="icon-notification"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

