@import "../../../../variables";

.main-nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  color: $white;

  .dropdown-menu {
    position: absolute;
    background-color: $gray;
    border-radius: 0;
    top: 4em;
    border-left: 5px solid $primary;

    .dropdown-item {
      color: $white;

      &:hover {
        background-color: $primary-background;
        color: $primary;
      }
    }
  }

  .navbar-light .navbar-nav .nav-link {
    padding: 1em;
  }
}

input[aria-label="Search"] {
  border-radius: 25px;
  background: transparent;
  border: 1px solid $white;
  caret-color: $white;
  color: $white;

  &:focus {
    background: transparent;
    color: $white;
    box-shadow: $gray-shadow;
  }
}

.search {
  position: relative;

  span {
    position: absolute;
    z-index: 2;
    right: 1.25em;
    pointer-events: none;
    color: $white;
  }
}

.login {
  padding: 0.25em 1.25em;

  span {
    font-size: 0.75em;
  }
}

