<div class="dcaa-about-us">
  <dcaa-page-banner
    [Title]="'About Us'"
    [Section]="'Our Vision & Mission'"
    [Image]="'assets/images/HEADER-IMAGE.png'"
  >
  </dcaa-page-banner>


  <div class="container">
    <div class="row">
      <div class="col-md-12 b-extra">
        <div class="row overflow-hidden">
          <div class="col-md-2">
            <ul class="list-group with-separator nav p-0 pt-5 text-left" id="list-tab" role="tablist">
              <li *ngFor="let nav of NavListData" class="nav-link light-border" [routerLink]="nav.link"
                  routerLinkActive="active">{{nav.name}}</li>
            </ul>
          </div>
          <div class="col-md-10 pt-5">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <div class="card bg-inverse">
                  <img class="card-img" src="assets/images/LINKS IMAGE.png">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <a class="font-weight-bold m-0">Mission and Vision</a>
                    <p class="card-title m-0">The World Airport, Dubai</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card bg-inverse">
                  <img class="card-img" src="assets/images/LINKS IMAGE.png">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <a class="font-weight-bold m-0">Mission and Vision</a>
                    <p class="card-title m-0">The World Airport, Dubai</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card bg-inverse">
                  <img class="card-img" src="assets/images/LINKS IMAGE.png">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <a class="font-weight-bold m-0">Mission and Vision</a>
                    <p class="card-title m-0">The World Airport, Dubai</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card bg-inverse">
                  <img class="card-img" src="assets/images/LINKS IMAGE.png">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <a class="font-weight-bold m-0">Mission and Vision</a>
                    <p class="card-title m-0">The World Airport, Dubai</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
