@import "../../../variables";

.dcaa-footer {
  color: $light-gray;
  padding-top: 5em;
  position: relative;
}

.copyright {
  margin-top: 30px;

  .footer-container {
    font-size: 0.850em;
    padding: 30px 0;
    border-top: 2px solid $light-gray;

    .access-links {
      a {
        margin: 5px 0;

        &:hover {
          color: $primary;
          transition: all 0.2s;
          cursor: pointer;
        }
      }
    }
  }
}

.social {

  .social-item {
    cursor: pointer;
    width: 25px;
    background: #d85251;
    height: 25px;

    &:not(:first-child) {
      @include margin(left, 5px);
    }
  }


  span {
    font-size: 0.750em;
  }
}

.subscribe-group {

  input {
    border-radius: 0;
    border: 0;

    &:focus {
      box-shadow: none;
    }
  }

  .subscribe-btn {
    border-radius: 0;
    background: $primary;
    border: 0;

    &:hover {
      color: $white;
    }
  }
}

.happiness-meter {
  background: $primary;
  color: $white;
  font-size: 2.5em;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  @include right(0);
  bottom: 125px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    width: 2em;
    transition: 0.2s all;
  }
}
