<div class="dcaa-footer" [style.background-image]="'url(assets/images/footer/footer.png)'">
  <div class="container">
    <div class="happiness-meter">
      <svg-icon src="assets/images/social media/smiley-meter.svg" [stretch]="true"
                [applyCss]="true" class="white-color" [svgStyle]="{ 'width.px':50, 'fill': '#fff' }">
      </svg-icon>
    </div>
    <div class="services col d-flex justify-content-center">
      <div class="quick-links pr-1 col-3">
        <p>Quick Links</p>
        <div class="links">
          <a>Smart Employee APP - IOS</a>
          <a>Smart Employee APP - IOS</a>
          <a>Smart Employee APP - IOS</a>
          <a>Smart Employee APP - IOS</a>
          <a>Smart Employee APP - IOS</a>
          <a>Smart Employee APP - IOS</a>
          <a>Smart Employee APP - IOS</a>
          <a>Smart Employee APP - IOS</a>
          <a>Smart Employee APP - IOS</a>
          <a>Smart Employee APP - IOS</a>
        </div>
      </div>
      <div class="apps pr-1 col-3">
        <p>Apps</p>
        <dcaa-xgallery [imageUrls]="imageArray"></dcaa-xgallery>
      </div>
      <div class="subscribe pr-1  col-3">
        <p>Subscribe</p>
        <span>Subscribe to our magazine</span>

        <div class="submit mb-5">
          <div class="send mt-2">
            <input type="text" placeholder="Email Address">
            <button>Submit</button>
          </div>
        </div>

        <p>Follow Us</p>
        <span>Join our online communities</span>

        <div class="social-media">
          <div class="outline">
            <svg-icon src="assets/images/social media/facebook.svg" [stretch]="true"

                      [applyCss]="true" class="social svg-m"></svg-icon>
          </div>
          <div class="outline">
            <svg-icon src="assets/images/social media/twitter.svg" [stretch]="true"

                      [applyCss]="true" class="social svg-m"></svg-icon>
          </div>

          <div class="outline">
            <svg-icon src="assets/images/social media/instagram.svg" [stretch]="true"

                      [applyCss]="true" class="social svg-m"></svg-icon>
          </div>

          <div class="outline">
            <svg-icon src="assets/images/social media/youtube.svg" [stretch]="true"

                      [applyCss]="true" class="social svg-m"></svg-icon>
          </div>

          <div class="outline">
            <svg-icon src="assets/images/social media/linkedin.svg" [stretch]="true"

                      [applyCss]="true" class="social svg-m"></svg-icon>
          </div>
        </div>
      </div>
      <div class="contact-general col-3">
        <p>Contact Director General</p>
        <img src="assets/images/SLIDER MAIN.png">
      </div>
    </div>
    <div class="copyright">
      <div class="footer-container d-flex justify-content-between">
        <div class="rights">
          <span>Copyright © 2018 DCAA All Rights Reserved.</span>
        </div>
        <div class="access-links">
          <a>Customer Happiness</a>
          |
          <a>Center Terms & Conditions</a>
          |
          <a>Careers</a>
          |
          <a>Accessibility</a>
          |
          <a>Contact Us</a>
          |
          <a>Privacy Policy</a>
          |
          <a>Disclaimer</a>
          |
          <a>FAQ</a>
          |
          <a>Sitemap</a>
        </div>
      </div>
    </div>
  </div>
</div>
