<dcaa-partners></dcaa-partners>
<div class="dcaa-footer" [style.background-image]="'url(assets/images/footer/footer.png)'">
  <div class="container">
    <footer class="page-footer font-small indigo">
      <!-- Footer Links -->
      <div class="container text-center text-md-left">
        <div class="row">
          <div class="col-md-3 mx-auto">
            <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h6>
            <ul class="list-unstyled">
              <li>
                <a>Smart Employee APP - IOS</a>
              </li>
              <li>
                <a>Smart Employee APP - IOS</a>
              </li>
              <li>
                <a>Smart Employee APP - IOS</a>
              </li>
              <li>
                <a>Smart Employee APP - IOS</a>
              </li>
              <li>
                <a>Smart Employee APP - IOS</a>
              </li>
              <li>
                <a>Smart Employee APP - IOS</a>
              </li>
              <li>
                <a>Smart Employee APP - IOS</a>
              </li>
            </ul>
          </div>

          <hr class="clearfix w-100 d-md-none">

          <div class="col-md-3 mx-auto">
            <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Apps</h6>
            <dcaa-xgallery [imageUrls]="imageArray"></dcaa-xgallery>
          </div>

          <hr class="clearfix w-100 d-md-none">

          <div class="col-md-3 mx-auto">
            <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Subscribe</h6>
            <p>Subscribe</p>
            <span>Subscribe to our magazine</span>

            <div class="input-group mb-5 subscribe-group">
              <input type="text" class="form-control" placeholder="Recipient's username"
                     aria-label="Subscribe" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary subscribe-btn shadow-none" type="button" id="button-addon2">Button</button>
              </div>
            </div>

            <p class="mt-4">Follow Us</p>
            <span>Join our online communities</span>
            <div class="social d-flex mt-2 text-white">
              <div class="social-item d-flex justify-content-center align-items-center">
                <span class="icon-facebook"></span>
              </div>
              <div class="social-item d-flex justify-content-center align-items-center">
                <span class="icon-twitter"></span>
              </div>
              <div class="social-item d-flex justify-content-center align-items-center">
                <span class="icon-instagram"></span>
              </div>
              <div class="social-item d-flex justify-content-center align-items-center">
                <span class="icon-youtube"></span>
              </div>
              <div class="social-item d-flex justify-content-center align-items-center">
                <span class="icon-linkedin"></span>
              </div>
            </div>
          </div>
          <hr class="clearfix w-100 d-md-none">

          <div class="col-md-3 mx-auto">
            <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Director General</h6>
            <div class="contact-general">
              <img src="assets/images/SLIDER MAIN.png" width="100%">
              <p class="mt-4">Contact Info</p>
              <div class="info">
                <div class="section mb-3 d-flex flex-column">
                  <span>Overseas: +9714777000</span>
                  <span>Enter email: info@dcaa.gov.ae</span>
                </div>
                <div class="section mb-3 d-flex flex-column">
                  <span>Overseas: +9714777000</span>
                  <span>Enter email: info@dcaa.gov.ae</span>
                </div>
                <div class="section mb-3 d-flex flex-column">
                  <span>Overseas: +9714777000</span>
                  <span>Enter email: info@dcaa.gov.ae</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <div class="copyright">
          <div class="footer-container row">
            <div class="rights col-md-3">
              <span>Copyright © 2018 DCAA All Rights Reserved.</span>
            </div>
            <div class="access-links col-md-9">
              <a>Customer Happiness</a>
              |
              <a>Center Terms & Conditions</a>
              |
              <a>Careers</a>
              |
              <a>Accessibility</a>
              |
              <a>Contact Us</a>
              |
              <a>Privacy Policy</a>
              |
              <a>Disclaimer</a>
              |
              <a>FAQ</a>
              |
              <a>Sitemap</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright -->
    </footer>
    <div class="happiness-meter">
      <span class="icon-smiley-meter"></span>
    </div>
  </div>
</div>
