<div class="dcaa-footer" [style.background-image]="'url(assets/images/footer/footer.png)'">
  <div class="happiness-meter">
    <svg-icon src="assets/images/social media/smiley-meter.svg" [stretch]="true"
              [applyCss]="true" class="white-color" [svgStyle]="{ 'width.px':50, 'fill': '#fff' }">
    </svg-icon>
  </div>
  <div class="services">
    <div class="quick-links pr-1">
      <p>Quick Links</p>
      <div class="links">
        <a>Smart Employee APP - IOS</a>
        <a>Smart Employee APP - IOS</a>
        <a>Smart Employee APP - IOS</a>
        <a>Smart Employee APP - IOS</a>
        <a>Smart Employee APP - IOS</a>
        <a>Smart Employee APP - IOS</a>
        <a>Smart Employee APP - IOS</a>
        <a>Smart Employee APP - IOS</a>
        <a>Smart Employee APP - IOS</a>
        <a>Smart Employee APP - IOS</a>
      </div>
    </div>
    <div class="apps pr-1">
      <p>Apps</p>
      <dcaa-xgallery [imageUrls]="imageArray"></dcaa-xgallery>
    </div>
    <div class="subscribe pr-1">
      <p>Subscribe</p>
      <span>Subscribe to our magazine</span>

      <div class="submit mb-5">
        <div class="send mt-2">
          <input type="text" placeholder="Email Address">
          <button>Submit</button>
        </div>
      </div>

      <p>Follow Us</p>
      <span>Join our online communities</span>
    </div>
    <div class="contact-general">
      <p>Contact Director General</p>
      <img src="assets/images/SLIDER MAIN.png">
    </div>
  </div>
  <div class="copyright">
    <div class="footer-container">
      <div class="rights">
        <span>Copyright © 2018 DCAA All Rights Reserved.</span>
      </div>
      <div class="access-links">
        <a>Customer Happiness</a>
        |
        <a>Center Terms & Conditions</a>
        |
        <a>Careers</a>
        |
        <a>Accessibility</a>
        |
        <a>Contact Us</a>
        |
        <a>Privacy Policy</a>
        |
        <a>Disclaimer</a>
        |
        <a>FAQ</a>
        |
        <a>Sitemap</a>
      </div>
    </div>
  </div>

</div>
