<div class="dcaa-xgallery">
  <div class="items">
    <ng-container *ngFor="let img of imageUrls; let i = index">
      <img *ngIf="i == index" [src]="img.src" [@fadeInOut]>
    </ng-container>
  </div>

  <div class="controllers d-flex justify-content-between align-items-center">
    <div class="gallery-app controls d-flex">
      <svg-icon src="assets/images/icons/android.svg" [stretch]="true"
                [applyCss]="true" class="android-icon"></svg-icon>
      <svg-icon src="assets/images/icons/apple.svg" [stretch]="true"
                [applyCss]="true" class="apple-icon ml-1"></svg-icon>
    </div>
    <div class="controls d-flex">
      <svg-icon src="assets/images/icons/left.svg" [stretch]="true" (click)="prev()"
                [applyCss]="true" class="arrow-icon svg-s"></svg-icon>
      <svg-icon src="assets/images/icons/right.svg" [stretch]="true" (click)="next()"
                [applyCss]="true" class="arrow-icon ml-1 svg-s"></svg-icon>
    </div>
  </div>

  <div class="img-today mt-1">
    <img src="assets/images/SLIDER MAIN.png">
  </div>

</div>
