@import '~bootstrap/scss/bootstrap';

.dcaa-xgallery {
  padding-right: 50px;
}

.controls img {
  cursor: pointer;
  margin: 20px 10px;
}

.items img, .img-today img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 1.5em;

  &:hover {
    cursor: pointer;
  }
}
