.dcaa-xgallery {
  padding-right: 50px;
}

.controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls img {
  cursor: pointer;
  margin: 20px 10px;
}

.items img, .img-today img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}


