<div class="dcaa-xgallery">
  <div class="items">
    <ng-container *ngFor="let img of imageUrls; let i = index">
      <img *ngIf="i == index" [src]="img.src" [@fadeInOut]>
    </ng-container>
  </div>

  <div class="controllers d-flex justify-content-between align-items-center mt-2">
    <div class="gallery-app controls d-flex">
      <span class="icon-android mr-3"></span>
      <span class="icon-apple"></span>
    </div>
    <div class="controls d-flex">
      <span class="icon-left mr-3"></span>
      <span class="icon-right"></span>
    </div>
  </div>

  <div class="img-today mt-3">
    <img src="assets/images/SLIDER MAIN.png">
  </div>

</div>
