@import '../scss/appvariables';
.calendar-trigger{
    position: relative;
    top: -6px;
    right: -12px;
    .big-icon{
        font-size: 1.25rem;
    }
    .btn.btn-icon{
        padding-left: 0px;
    }
}
.normal-border-less{
    position: relative;
    top: 4px;

    .calendar-trigger{
        top: 0px;
        .big-icon{
            color: $darkgray;
        }
    }
}