@import "../../../variables";

.calendar-trigger {
  position: relative;
  top: -6px;
  @include right(-12px);

  .big-icon {
    font-size: 1.25rem;
  }

  .btn.btn-icon {
    @include padding(left, 0);
  }
}

.normal-border-less {
  position: relative;
  top: 4px;

  .calendar-trigger {
    top: 0px;

    .big-icon {
      color: $gray;
    }
  }
}
