<div class="row">
  <div class="col-md-12">
    <h6 class="primary-color">Director General office</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at ea eveniet minima neque possimus quam quod
      recusandae sequi voluptatum. Aperiam atque dignissimos error facere iusto molestiae nesciunt soluta totam! Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolores doloribus exercitationem fugit non sequi
      sit
      totam unde. Aspernatur atque eum iusto quasi quo repellat, sit sunt velit? Laudantium, tempora.</p>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-8">
    <div class="media mb-2">
      <div class="media-left">
        <span class="icon-Aviation-related-Activities icon-sm"></span>
      </div>
      <div class="media-body px-3">
        <h6 class="media-heading primary-color">Media heading</h6>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
        </p>
      </div>
    </div>
    <div class="media mb-2">
      <div class="media-left">
        <span class="icon-Aviation-related-Activities icon-sm"></span>
      </div>
      <div class="media-body px-3">
        <h6 class="media-heading primary-color">Media heading</h6>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
        </p>
      </div>
    </div>
    <div class="media mb-2">
      <div class="media-left">
        <span class="icon-Aviation-related-Activities icon-sm"></span>
      </div>
      <div class="media-body px-3">
        <h6 class="media-heading primary-color">Media heading</h6>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. A atque deserunt earum eos eveniet, ex fugit laborum maxime neque nesciunt non
          odit perferendis recusandae repellendus totam, ut, vitae volupta.
        </p>
      </div>
    </div>
    <div class="media mb-2">
      <div class="media-left">
        <span class="icon-Aviation-related-Activities icon-sm"></span>
      </div>
      <div class="media-body px-3">
        <h6 class="media-heading primary-color">Media heading</h6>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Aliquid atque cumque minima officiis porro quaerat ratione vero voluptate? Ab
          animi ducimus fuga harum magnam mollitia officia quae qui sapiente vitae.
        </p>
      </div>
    </div>
    <div class="media mb-2">
      <div class="media-left">
        <span class="icon-Aviation-related-Activities icon-sm"></span>
      </div>
      <div class="media-body px-3">
        <h6 class="media-heading primary-color">Media heading</h6>
        <p>
          Cras sit amet nibh libero, in gravida n gravida n gravida n gravida nulla. Nulla vel metus scelerisque ante
        </p>
      </div>
    </div>
    <div class="media mb-2">
      <div class="media-left">
        <span class="icon-Aviation-related-Activities icon-sm"></span>
      </div>
      <div class="media-body px-3">
        <h6 class="media-heading primary-color">Media heading</h6>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297.21 438.71">
      <defs>
        <style>.cls-1 {
          isolation: isolate;
        }

        .cls-2, .cls-7 {
          fill: #988866;
        }

        .cls-3 {
          fill: #f4f4f4;
        }

        .cls-4 {
          fill: #fff;
        }

        .cls-5 {
          fill: #4336c1;
          opacity: 0.65;
          mix-blend-mode: overlay;
        }

        .cls-6, .cls-8, .cls-9 {
          fill: none;
          stroke-miterlimit: 10;
        }

        .cls-6, .cls-9 {
          stroke: #f4f4f4;
        }

        .cls-6 {
          stroke-width: 3px;
        }

        .cls-7 {
          opacity: 0.71;
        }

        .cls-8 {
          stroke: #988866;
        }

        .cls-8, .cls-9 {
          stroke-width: 2px;
        }</style>
      </defs>
      <title>insAsset 26board</title>
      <g class="cls-1">
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <rect class="cls-2" width="297.21" height="438.71" rx="10.74"/>
            <rect class="cls-3" x="89.66" y="3.59" width="121.31" height="25.44"/>
            <rect class="cls-4" x="12.44" y="33.42" width="272.32" height="386.8"/>
            <rect class="cls-5" x="89.66" y="15.92" width="121.31" height="2.88"/>
            <rect class="cls-6" x="80.24" y="15.39" width="140.16" height="31.42" rx="6.82"/>
            <rect class="cls-7" x="89.01" y="13.94" width="121.31" height="2.88"/>
            <rect class="cls-2" x="51.27" y="161.65" width="49.34" height="4.88"/>
            <rect class="cls-3" x="51.27" y="175.03" width="135.72" height="4.88"/>
            <rect class="cls-3" x="51.27" y="185.65" width="135.72" height="4.88"/>
            <rect class="cls-3" x="51.27" y="196.28" width="78.09" height="4.88"/>
            <rect class="cls-2" x="51.27" y="93.95" width="49.34" height="4.88"/>
            <rect class="cls-3" x="51.27" y="108.75" width="135.72" height="4.88"/>
            <rect class="cls-3" x="51.27" y="119.37" width="135.72" height="4.88"/>
            <rect class="cls-3" x="51.27" y="130" width="78.09" height="4.88"/>
            <polyline class="cls-8" points="209.98 116.52 217.33 124.75 231.96 108.98"/>
            <rect class="cls-9" x="195.35" y="94.66" width="46.67" height="46.67"/>
            <polyline class="cls-8" points="208.47 183.85 215.82 192.08 230.46 176.32"/>
            <rect class="cls-9" x="194.85" y="162.37" width="46.67" height="46.67"/>
            <rect class="cls-2" x="51.27" y="226.82" width="49.34" height="4.88"/>
            <rect class="cls-3" x="51.27" y="240.19" width="135.72" height="4.88"/>
            <rect class="cls-3" x="51.27" y="250.82" width="135.72" height="4.88"/>
            <rect class="cls-3" x="51.27" y="261.44" width="78.09" height="4.88"/>
            <polyline class="cls-8" points="208.47 249.01 215.82 257.24 230.46 241.48"/>
            <rect class="cls-9" x="194.85" y="227.53" width="46.67" height="46.67"/>
            <rect class="cls-3" x="61.75" y="363.01" width="163.34" height="13.1"/>
            <rect class="cls-2" x="117.73" y="363.01" width="107.36" height="13.1"/>
            <rect class="cls-3" x="61.75" y="325.37" width="163.34" height="13.1"/>
            <rect class="cls-2" x="173.48" y="325.37" width="51.61" height="13.1"/>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
