<div class="alert alert-danger" role="alert" id="notes">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/images/mail-sent.svg" alt="" width="100%">
      </div>
      <div class="col-md-10">
        <div class="p-lr-20">
          <h4 class="primary-color" [translate]="'_Notes' | translate"></h4>
          <ul class="m-tb-0">
            <li [innerHTML]="'_emailVerify.emailVerifyMessage' | translate :{email:profile.email}"></li>
            <li>{{ '_emailVerify.emailVerifyMessage2' | translate }} <a (click)="reverify()"
                                                                        class="pointer font-weight-bold primary-color">{{ '_emailVerify.emailVerifyMessage3' | translate }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
