<div class="dcaa-disclaimer">
  <div class="row">
    <div class="col-md-12">
      <h6 class="primary-color">Disclaimer</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at ea eveniet minima neque possimus quam quod
        recusandae sequi voluptatum. Aperiam atque dignissimos error facere iusto molestiae nesciunt soluta totam! Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolores doloribus exercitationem fugit non sequi
        sit Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi culpa deserunt ea enim facere harum
        itaque sapiente! Cumque dolorem doloremque ex ipsam laboriosam nemo optio perspiciatis quisquam quos sed!
        totam unde. Aspernatur atque eum iusto quasi quo repellat, sit sunt velit? Laudantium, tempora.</p>
    </div>
  </div>
</div>
