<ul class="nav nav-pills mb-2 justify-content-center" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link border-up-box text-uppercase" id="pills-login-tab" data-toggle="pill"
       [ngClass]="formId == 1 ? 'active' : ''"
       (click)="formId = 1" role="tab" aria-controls="pills-login"
       aria-selected="true">{{'_Forms._Login' | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link border-up-box text-uppercase" id="pills-register-tab" data-toggle="pill"
       [ngClass]="formId == 2 ? 'active' : ''"
       (click)="formId = 2" role="tab" aria-controls="pills-register"
       aria-selected="false">{{'_Forms._SignUp' | translate}}</a>
  </li>
</ul>

<div *ngIf="formId == 1" class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="px-4 py-3">
    <h6 class="text-primary font-weight-bold m-b-15 text-uppercase" i18n="@@registeredmember">
      {{'_Forms._CustomerLogin' | translate}}
    </h6>
    <div class="form-group">
      <span>{{'_Forms._Username' | translate}} <span class="text-primary">*</span></span>
      <input formControlName="userName" [ngClass]="{ 'is-invalid': loginSubmitted && l.userName.errors }"
             type="text"
             class="form-control round-border" id="username" i18n-placeholder="@@usernameOrEmail"
             [placeholder]="('_Forms._Username' | translate) + '/' + ('_Forms._Email' | translate)">
      <div *ngIf="loginSubmitted && l.userName.errors" class="invalid-feedback">
        <div *ngIf="l.userName.errors.required" i18n="@@usernameEmailrequired">
          {{'_Forms._Username' | translate}}
          {{'_Or' | translate}}
          {{'_Forms._Email' | translate}}
          {{'_Validation._Required' | translate}}
        </div>
        <div *ngIf="l.userName.errors.cannotContainSpace" i18n="@@usernameEmailNoSpace">
          {{'_Forms._Username' | translate}}
          {{'_Or' | translate}}
          {{'_Forms._Email' | translate}}
          {{'_Cannot' | translate}}
          {{'_Validation._ContainSpace' | translate}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <span> {{'_Forms._Password' | translate}} <span class="text-primary">*</span></span>
      <input formControlName="password" [ngClass]="{ 'is-invalid': loginSubmitted && l.password.errors }"
             type="password" class="form-control round-border" id="exampleDropdownFormPassword1"
             i18n-placeholder="@@password" [placeholder]="'_Forms._Password' | translate">
      <div *ngIf="loginSubmitted && l.password.errors" class="invalid-feedback">
        <div *ngIf="l.password.errors.required" i18n="@@passwordrequired">
          {{'_Forms._Password' | translate}}
          {{'_Validation._Required' | translate}}
        </div>
        <div *ngIf="l.password.errors.cannotContainSpace" i18n="@@passwordNoSpace">
          {{'_Forms._Password' | translate}}
          {{'_Cannot' | translate}}
          {{'_Validation._ContainSpace' | translate}}
        </div>
      </div>
    </div>
    <div class="social-login d-flex justify-content-between mt-2 mb-2">
      <a class="btn btn-primary border-0 mx-1 d-flex align-items-center justify-content-center py-1 px-3 uae-pass">
                <span class="icon-UAE-pass mx-1">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                </span>
        <div class="d-flex flex-column text-left">
          <span class="s-sm">
            {{'_Forms._Login' | translate}}
            {{'_With' | translate}}
          </span>
          <a> {{'_UAEPass' | translate}}</a>
        </div>
      </a>
      <a (click)="signInWithFB()"
         class="btn btn-primary border-0 mx-1 d-flex align-items-center justify-content-center py-1 px-3 facebook">
        <span class="icon-facebook mx-1"></span>
        <div class="d-flex flex-column text-left">
          <span class="s-sm">
            {{'_Forms._Login' | translate}}
            {{'_With' | translate}}
          </span>
          <a> {{'_Social._Facebook' | translate}}</a>
        </div>
      </a>
      <a (click)="signInWithGoogle()"
         class="btn btn-primary border-0 d-flex align-items-center justify-content-center py-1 px-3 google">
        <span class="icon-google mx-1"></span>
        <div class="d-flex flex-column text-left">
         <span class="s-sm">
            {{'_Forms._Login' | translate}}
           {{'_With' | translate}}
          </span>
          <a> {{'_Social._Google' | translate}}</a>
        </div>
      </a>
    </div>
    <div class="d-flex justify-content-between">
      <mat-checkbox color="accent" i18n="@@rememberme"> {{'_Forms._KeepLoggedIn' | translate}}</mat-checkbox>
      <span class="forget-pass" (click)="formId = 3" i18n="@@forgotpasswordAsk">
       {{'_Forms._Forgot' | translate}}
        {{'_Forms._Password' | translate}}
      </span>
    </div>
    <div class="form-group captcha-wrapper">
      <re-captcha formControlName="captchaResponse"></re-captcha>
    </div>
    <div class="display-flex no-wrap m-t-10">
      <div class="d-flex">
        <div class="mx-1" i18n="@@signin">
          <button type="submit" [disabled]="this.inProgress"
                  class="btn btn-lg btn-primary d-flex align-items-center py-1 pl-4 pr-4 reverse">
            <div *ngIf="inProgress" class="spinner-border spinner-border-sm mx-1" role="status">
              <span class="sr-only"> {{'_Forms._Loading' | translate}}...</span>
            </div>
            {{'_Forms._Login' | translate}}
          </button>
        </div>
        <div i18n="@@cancel">
          <button type="button" class="btn btn-lg btn-primary py-1 pl-4 pr-4" (click)="dialog.closeAll()">
            {{'_Forms._Cancel' | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="p-lr-20" *ngIf="loginErrors.length > 0">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div *ngFor="let text of loginErrors">{{text}}</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

</div>

<div *ngIf="formId == 2" class="registration-form">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="px-4 py-3">
    <h6 class="text-primary font-weight-bold m-b-15 text-uppercase" i18n="@@regWithUs">
      {{'_Forms._CustomerSignUp' | translate}}
    </h6>

    <div class="form-group">
      <input autocomplete="new-nothing" type="text" i18n-placeholder="@@selectLocale"
             [placeholder]="'_Forms._SelectYourCity' | translate"
             formControlName="localeId" [matAutocomplete]="auto" (blur)="smallAssignBox = true"
             class="form-control round-border">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option (onSelectionChange)="localeSelected(locale)" *ngFor="let locale of filteredLocale | async"
                    [value]="locale.localeId">
          <i class="icon-map"></i>
          <span class="small-text m-lr-7 font-weight-bold">{{locale.city}}, {{locale.country}}</span>
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <span>
          {{'_Forms._FName' | translate}}
          <span class="text-primary">*</span>
        </span>
        <input formControlName="firstName" [ngClass]="{ 'is-invalid': regSubmitted && r.firstName.errors }"
               type="text"
               class="form-control round-border" id="firstname" i18n-placeholder="@@firstname"
               [placeholder]="'_Forms._FName' | translate">
        <div *ngIf="regSubmitted && r.firstName.errors" class="invalid-feedback">
          <div *ngIf="r.firstName.errors.required" i18n="@@firstnameRequired">
            {{'_Forms._FName' | translate}}
            {{'_Validation._Required' | translate}}
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <span>
          {{'_Forms._LName' | translate}}
          <span class="text-primary">*</span>
        </span>
        <input formControlName="lastName" [ngClass]="{ 'is-invalid': regSubmitted && r.lastName.errors }"
               type="text"
               class="form-control round-border" id="lastname" i18n-placeholder="@@lastname"
               [placeholder]="'_Forms._LName' | translate">
        <div *ngIf="regSubmitted && r.lastName.errors" class="invalid-feedback">
          <div *ngIf="r.lastName.errors.required" i18n="@@lastnamerequired">
            {{'_Forms._LName' | translate}}
            {{'_Validation._Required' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <span> {{'_Forms._Username' | translate}} <span class="text-primary">*</span></span>

        <input formControlName="userName" [ngClass]="{ 'is-invalid': regSubmitted && r.userName.errors }"
               type="text"
               class="form-control round-border" id="username" i18n-placeholder="@@username"
               [placeholder]="'_Forms._Username' | translate">
        <div *ngIf="regSubmitted && r.userName.errors" class="invalid-feedback">
          <div *ngIf="r.userName.errors.required" i18n="@@usernamerequired">
            {{'_Forms._Username' | translate}}
            {{'_Validation._Required' | translate}}
          </div>
          <div *ngIf="r.userName.errors.cannotContainSpace" i18n="@@usernameNoSpace">
            {{'_Forms._Username' | translate}}
            {{'_Cannot' | translate}}
            {{'_Validation._ContainSpace' | translate}}
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <span>{{'_Forms._Email' | translate}}<span class="text-primary">*</span></span>
        <input formControlName="email" [ngClass]="{ 'is-invalid': regSubmitted && r.email.errors }" type="email"
               class="form-control round-border" id="email" i18n-placeholder="@@email"
               [placeholder]="'_Forms._EmailAddress' | translate">
        <div *ngIf="regSubmitted && r.email.errors" class="invalid-feedback">
          <div *ngIf="r.email.errors.required" i18n="@@emailrequired">
            {{'_Forms._Email' | translate}}
            {{'_Validation._Required' | translate}}
          </div>
          <div *ngIf="r.email.errors.cannotContainSpace" i18n="@@emailNoSpace">
            {{'_Forms._Email' | translate}}
            {{'_Cannot' | translate}}
            {{'_Validation._ContainSpace' | translate}}
          </div>
          <div *ngIf="r.email.errors.email" i18n="@@invalidEmail">
            {{'_Validation._Invalid' | translate}}
            {{'_Forms._EmailAddress' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <span>{{'_Forms._Password' | translate}} <span class="text-primary">*</span></span>
        <input formControlName="password" [ngClass]="{ 'is-invalid': regSubmitted && r.password.errors }"
               type="password"
               class="form-control round-border" id="password" i18n-placeholder="@@password"
               [placeholder]="'_Forms._Password' | translate">
        <div *ngIf="regSubmitted && r.password.errors" class="invalid-feedback">
          <div *ngIf="r.password.errors.required" i18n="@@passwordrequired">
            {{'_Forms._Password' | translate}}
            {{'_Validation._Required' | translate}}
          </div>
          <div *ngIf="r.password.errors.minlength" i18n="@@passwordMinLength">
            {{'_Forms._Password' | translate}}
            {{'_Must' | translate}}
            {{'_Be' | translate}}
            {{'_AtLeast' | translate}}
            6
            {{'_Characters' | translate}}
          </div>
          <div *ngIf="r.password.errors.cannotContainSpace" i18n="@@passwordNoSpace">
            {{'_Forms._Password' | translate}}
            {{'_Cannot' | translate}}
            {{'_Validation._ContainSpace' | translate}}
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <span> {{'_Forms._Confirm' | translate}}  {{'_Forms._Password' | translate}} <span class="text-primary">*</span></span>
        <input formControlName="confirmPassword"
               [ngClass]="{ 'is-invalid': regSubmitted && r.confirmPassword.errors }"
               type="password" class="form-control round-border" id="confirmpassword"
               i18n-placeholder="@@confirmpass"
               [placeholder]="('_Forms._Confirm' | translate) + ('_Forms._Password' | translate)">
        <div *ngIf="regSubmitted && r.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="r.confirmPassword.errors.required" i18n="@@confirmpasswordRequired">
            {{'_Forms._Confirm' | translate}} {{'_Forms._Password' | translate}}
            {{'_Validation._Required' | translate}}
          </div>
          <div *ngIf="r.confirmPassword.errors.mustMatch" i18n="@@passwordMatch">
            {{'_Forms._Passwords' | translate}}
            {{'_Must' | translate}}
            {{'_Be' | translate}}
            {{'_Matched' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group captcha-wrapper mt-2">
      <re-captcha formControlName="captchaResponse"></re-captcha>
    </div>
    <div class="d-flex mt-3">
      <div class="mx-1" i18n="@@cancel">
        <button type="submit" [disabled]="this.inProgress"
                class="btn btn-lg btn-primary d-flex align-items-center py-1 pl-4 pr-4 reverse">
          <div *ngIf="inProgress" class="spinner-border spinner-border-sm mx-1" role="status">
            <span class="sr-only">{{'_Forms._Loading' | translate}}...</span>
          </div>
          {{'_Forms._Submit' | translate}}
        </button>
      </div>
      <div i18n="@@cancel">
        <button type="button" class="btn btn-lg btn-primary py-1 pl-4 pr-4" (click)="dialog.closeAll()">
          {{'_Forms._Cancel' | translate}}
        </button>
      </div>
    </div>
  </form>
  <div class="p-lr-20" *ngIf="regErrors.length > 0">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div *ngFor="let text of regErrors">{{text}}</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <!--  <div class="dropdown-divider"></div>-->
  <!--<button ngbDropdownItem (click)="formId = 1" i18n="@@signinAsk">Already have an account? Sign in</button>-->
  <!--<button ngbDropdownItem (click)="formId = 3" i18n="@@forgotpasswordAsk">Forgot password?</button>-->
</div>

<div *ngIf="formId == 3" class="forgotpassword-form">
  <form [formGroup]="fpForm" (ngSubmit)="forgotPassword()" class="px-4 py-3">
    <h6 class="text-primary font-weight-bold m-b-15 text-uppercase" i18n="@@resporePassword">Restore password</h6>
    <div class="form-group">
      <span> {{'_Forms._Username' | translate}}
        {{'_Or' | translate}}
        {{'_Forms._Email' | translate}}
        <span class="text-primary">*</span></span>
      <input formControlName="userName" [ngClass]="{ 'is-invalid': fpSubmitted && fp.userName.errors }"
             type="text"
             class="form-control round-border" id="username" i18n-placeholder="@@usernameOrEmail"
             [placeholder]="('_Forms._Username' | translate) + '/' + ('_Forms._Email' | translate)">
      <div *ngIf="fpSubmitted && fp.userName.errors" class="invalid-feedback">
        <div *ngIf="fp.userName.errors.required" i18n="@@usernameEmailrequired">
          {{'_Forms._Username' | translate}}
          {{'_Or' | translate}}
          {{'_Forms._Email' | translate}}
          {{'_Validation._Required' | translate}}
        </div>
        <div *ngIf="fp.userName.errors.cannotContainSpace" i18n="@@usernameEmailNoSpace">
          {{'_Forms._Username' | translate}}
          {{'_Or' | translate}}
          {{'_Forms._Email' | translate}}
          {{'_Cannot' | translate}}
          {{'_Validation._ContainSpace' | translate}}
        </div>
      </div>
    </div>

    <div class="display-flex">
      <div *ngIf="inProgress" class="spinner-border spinner-border-sm prelative top-3 right-10" role="status">
        <span class="sr-only" i18n="@@loading">{{'_Forms._Loading' | translate}}...</span>
      </div>
      <div class="d-flex">
        <div class="mx-1" i18n="@@submit">
          <button type="submit" [disabled]="this.inProgress"
                  class="btn btn-lg btn-primary d-flex align-items-center py-1 pl-4 pr-4 reverse">
            <div *ngIf="inProgress" class="spinner-border spinner-border-sm mx-1" role="status">
              <span class="sr-only">{{'_Forms._Loading' | translate}}...</span>
            </div>
            {{'_Forms._Submit' | translate}}
          </button>
        </div>
        <div i18n="@@cancel">
          <button type="button" class="btn btn-lg btn-primary py-1 pl-4 pr-4" (click)="dialog.closeAll()">
            {{'_Forms._Cancel' | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="p-lr-20" *ngIf="fpErrors.length > 0">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div *ngFor="let text of fpErrors">{{text}}</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <button ngbDropdownItem (click)="formId = 2" i18n="@@signUpAsk">
    {{'_Forms._NewHere' | translate}} {{'_Forms._SignUp' | translate}}
  </button>
  <button ngbDropdownItem (click)="formId = 1" i18n="@@signinAsk">
    {{'_Forms._AlreadyAccount' | translate}} {{'_Forms._SignIn' | translate}}
  </button>
</div>

<swal
    #regSwal
    title="Registration completed" i18n-title="@@regCompleted" i18n-html="@@regCompletedHtml"
    html="Your account is successfully setup. Please visit your email for confirmation"
    type="success">
</swal>
<swal
    #fpSwal
    title="Sent Successfully" i18n-title="@@sentCompleted" i18n-html="@@sentCompletedHtml"
    html="<span><strong>Reset token</strong> is sent to your registered email address.</span>"
    type="success">
</swal>
