@import "../../../../variables";

.login-icon {
  font-size: 1.3rem;
}

.fbcolor {
  color: #3b5998;
}

.googlecolor {
  color: #dc4e41;
}

.nav-pills .nav-link {
  padding: 1em 3.25em;
  background-color: $secondary-background;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: $white;
}

.form-group input {
  border-radius: 0;
  border-#{$left}: $border-size solid $primary;

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.forget-pass {
  cursor: pointer;
}

.social-login {
  cursor: pointer;

  div {
    line-height: 1.1;
  }

  [class^="icon-"], [class*=" icon-"] {
    font-size: 1.5em;
  }

  .s-sm {
    font-size: 0.60em
  }

  .uae-pass {
    background: $black;
    color: $white;
  }

  .facebook {
    background: #3b5998;
    color: $white;
  }

  .google {
    background: #dd4b39;
    color: $white;
  }
}

.form-group {
  margin-bottom: 0.5em;
}
