<div class="row">
  <div class="col-md-7 position-relative">
    <h6 class="primary-color">Director General office</h6>
    <ul class="list-unstyled text-justify">
      <li>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et
          elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales
          vehicula....</p>
      </li>
    </ul>
    <div class="count position-absolute text-center">
      <h3 class="mb-n2">5.8%</h3>
      <span class="figure-caption">Increase ratio</span>
    </div>
  </div>
  <div class="col-md-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.36 404.42">
      <defs>
        <style>.cls-1 {
          fill: none;
          stroke: #d5d5d5;
          stroke-miterlimit: 10;
        }

        .cls-2, .cls-3 {
          font-size: 22.2px;
          font-family: Dubai-Regular, Dubai;
        }

        .cls-2 {
          fill: #3e4653;
        }

        .cls-3 {
          fill: #5b5b5b;
        }

        .cls-4 {
          fill: #988866;
        }</style>
      </defs>
      <title>insAsset 28all</title>
      <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
          <line class="cls-1" x1="525.36" y1="369.3" x2="50.6" y2="369.3"/>
          <text class="cls-2" transform="translate(23.97 372.82)">0</text>
          <line class="cls-1" x1="525.36" y1="298.4" x2="50.6" y2="298.4"/>
          <text class="cls-2" transform="translate(0 301.91)">200</text>
          <text class="cls-3" transform="translate(359.19 393.17)">2014</text>
          <text class="cls-3" transform="translate(447.98 393.17)">2015</text>
          <line class="cls-1" x1="525.36" y1="227.49" x2="50.6" y2="227.49"/>
          <text class="cls-2" transform="translate(0 231.01)">400</text>
          <line class="cls-1" x1="525.36" y1="156.58" x2="50.6" y2="156.58"/>
          <text class="cls-2" transform="translate(0 160.1)">600</text>
          <line class="cls-1" x1="525.36" y1="85.68" x2="50.6" y2="85.68"/>
          <text class="cls-2" transform="translate(0 89.2)">800</text>
          <line class="cls-1" x1="525.36" y1="14.77" x2="50.6" y2="14.77"/>
          <text class="cls-2" transform="translate(23.97 18.29)">0</text>
          <rect class="cls-4" x="439.13" y="57.32" width="68.97" height="311.99"/>
          <rect class="cls-4" x="349.02" y="289.15" width="68.97" height="80.15"/>
        </g>
      </g>
    </svg>
  </div>
</div>

