@import '../../../../variables';

.services-categories {
  .card-columns {
    background: $secondary-background;
  }

  .card {
    background: transparent;
    border: none;
    border-radius: 0;
    text-align: center;
    padding: 1em 0;
    margin: 0;

    [class^="icon-"], [class*=" icon-"] {
      font-size: 4em;
    }
  }
}

.services-control {
  [class^="icon-"], [class*=" icon-"] {
    font-size: 2em;
    color: $primary;

    &:hover {
      cursor: pointer;
    }
  }
}
