<div class="dcaa-services">
  <div class="services-control">
    <h1>Services</h1>
    <h3>All Services provided by dcaa.gov.ae are as following</h3>

    <a>Explore all Services</a>

    <div class="slider">
      <button><i class="fa fa-arrow-left"></i></button>
      <button><i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
  <div class="services-categories">
    <div class="item" (mouseover)="SwingIn($event)" (mouseleave)="SwingOut($event)">
      <svg-icon  src="assets/images/air-transport.svg" [stretch]="true"
                [svgStyle]="{ 'width.px':90 }"></svg-icon>
      <p>Premits for Aviation related Activites</p>
    </div>
    <div class="item" (mouseover)="SwingIn($event)" (mouseleave)="SwingOut($event)">
      <svg-icon  src="assets/images/aviation.svg"
                [svgStyle]="{ 'width.px':90 }"></svg-icon>
      <p>Premits for Aviation related Activites</p>
    </div>
    <div class="item" (mouseover)="SwingIn($event)" (mouseleave)="SwingOut($event)">
      <svg-icon  src="assets/images/suspecious.svg"
                [svgStyle]="{ 'width.px':90 }"></svg-icon>
      <p>Premits for Aviation related Activites</p>
    </div>
    <div class="item" (mouseover)="SwingIn($event)" (mouseleave)="SwingOut($event)">
      <svg-icon  src="assets/images/permission.svg"
                [svgStyle]="{ 'width.px':90 }"></svg-icon>
      <p>Premits for Aviation related Activites</p>
    </div>
    <div class="item" (mouseover)="SwingIn($event)" (mouseleave)="SwingOut($event)">
      <svg-icon  src="assets/images/landing.svg"
                [svgStyle]="{ 'width.px':90 }"></svg-icon>
      <p>Premits for Aviation related Activites</p>
    </div>
    <div class="item" (mouseover)="SwingIn($event)" (mouseleave)="SwingOut($event)">
      <svg-icon  src="assets/images/building.svg"
                [svgStyle]="{ 'width.px':90 }"></svg-icon>
      <p>Premits for Aviation related Activites</p>
    </div>
  </div>
</div>
