<div class="dcaa-most-viewed-services">
  <div class="container">
    <h2 class="card-title p-0 pr-1 col-md-2">Most Viewed Services</h2>
    <div class="services-categories">

      <div class="swiper-container" [swiper]="config">
        <div class="swiper-wrapper card-columns">
          <div *ngFor="let service of services" class="swiper-slide border-up-box">
            <span class="icon-{{service.icon}}"></span>
            <div class="card-body">
              <p class="card-text">{{service.description}}</p>
            </div>
          </div>
        </div>

        <div class="swiper-scrollbar"></div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>
