@import "../../../../variables";

::ng-deep .dcaa-most-viewed-services {

  .ngucarousel-items {
    padding: 0 80px;

    .card-text {
      height: 50px;
    }
  }

  .ngucarousel .carousel-left,
  .ngucarousel .carousel-right {
    position: absolute;
    display: flex !important;
    top: 0;
    height: 100%;
    background: $white !important;
    color: $light-gray;

    &:focus {
      outline: 0;
    }
  }

  .ngucarousel .carousel-left {
    left: -20px;
  }

  .ngucarousel .carousel-right {
    right: -20px;
  }

  button {
    font-size: 2.5em;

    &:hover span {
      color: $black;
    }
  }


}
