@import "../../../../variables";

::ng-deep .dcaa-most-viewed-services {
  .ngucarousel {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
  }

  .ngucarousel-inner {
    padding: 8px 0 18px;
  }

  .ngucarousel .carousel-left,
  .ngucarousel .carousel-right {
    position: absolute;
    top: calc(50% - 28px);
    background: #ffffff !important;
    color: rgba(0, 0, 0, .87);
  }

  .ngucarousel .carousel-left {
    left: -20px;
  }

  .ngucarousel .carousel-right {
    right: -20px;
  }

}
