<div class="dcaa-most-viewed-services">
  <div class="container">
    <h2 class="card-title p-0 pr-1 col-md-2">Most Viewed Services</h2>
    <div class="services-categories">
      <ngu-carousel
              [inputs]="carouselOptions">
        <ngu-item NguCarouselItem *ngFor="let service of services">
          <div class="swiper-slide border-up-box">
            <span class="icon-{{service.icon}}"></span>
            <div class="card-body">
              <p class="card-text">{{service.description}}</p>
            </div>
          </div>
        </ngu-item>

        <button mat-fab NguCarouselPrev class='carousel-left'><i class="fa fa-chevron-left"></i></button>
        <button mat-fab NguCarouselNext class='carousel-right'><i class="fa fa-chevron-right"></i></button>
      </ngu-carousel>
    </div>
  </div>
</div>
