@import '../../../assets/styles/responsive';

.navbar-menu {
  #nav-toggle {
    cursor: pointer;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    & span, span:before, span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: 15px;
      background: #000;
      position: absolute;
      display: block;
      content: '';
    }

    & span:before {
      top: -8px;
    }

    & span:after {
      bottom: -8px;
    }

    & span, span:before, span:after {
      transition: all 500ms ease-in-out;
    }

    &.active span {
      background-color: transparent;
    }

    &.active span:before, &.active span:after {
      top: 0;
    }

    &.active span:before {
      transform: rotate(-45deg);
    }

    &.active span:after {
      transform: rotate(45deg);
    }

    @include respond-to(mobileS-screen) {
      padding: 15px;
    }
  }

  .navbar i {
    font-size: 51px;
    color: #fff;
    border: 30px;
    text-align: center;
    border-radius: unset;
    line-height: inherit;
    margin-top: -3px;
    width: 115px;
    height: 105px;
  }
}

.nav-collapsed-active {
  z-index: 550;
  background-color: $primary-color;
  transition: all 0.5s;

  #nav-toggle.active {
    span:before {
      background: #fff;
    }

    span:after {
      background: #fff;
    }
  }
}

.nav-collapsed {
  color: $primary-color;
  display: flex;
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 1000;
  top: 0;
  margin: 25px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 100%;
  transition: all 0.5s ease-in;

  li {
    width: 100%;
    border-bottom: #e8e8e8 solid 1px;
    display: flex;
    flex-direction: column;

    & .main-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & .sub-item {
      background: $third-background;
      display: flex;
      flex-direction: column;

      .sub-head {
        color: $black-color;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
      }

      .second-menu {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        background: $third-background;

        .list {
          overflow: auto;
          height: 100%;
          width: 100%;
          padding-right: 17px;
        }

        .l-item {
          margin: 15px 45px;
          border-bottom: 1px solid #eeecec;

          span {
            font-size: $paragraph-small-size;
            color: $black-color;
          }

          li {
            font-size: $paragraph-medium-size;
            color: $black-color;
          }

          &:last-child .children {
            margin-bottom: 5rem;
          }
        }

        .children {
          margin: 15px;

          li {
            padding: 10px;
            border: none;
          }
        }

        & .title {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #e4e4e7;

          h3 {
            background-image: url(https://www.du.ae/servlet/duaediscovery/common/discovery/common/images/newnav_icon_mobile_life.png);
            background-position: left, 50%;
            background-repeat: no-repeat;
            background-size: auto 32px;
            margin: 0;
            padding: 25px 40px;
            width: 100%;
          }

          .fa {
            margin: 0 10px;
          }
        }
      }

      a {
        color: $black-color;
        font-size: $paragraph-medium-size;
        background-image: url(https://www.du.ae/servlet/duaediscovery/common/discovery/common/images/newnav_icon_mobile_life.png);
        background-position: left, 50%;
        background-repeat: no-repeat;
        background-size: auto 32px;
        padding-left: 50px;
        width: auto;
        height: auto;
        margin-left: 25px;
      }
    }

    & a, a:visited {
      padding: 20px 10px 15px 25px;
      cursor: pointer;
      width: 100%;
      display: flex;
      font-size: 20px;
      font-weight: bold;
      color: $primary-color;
    }

    & i {
      padding: 20px 20px 15px;
    }
  }


}

