<div id="dcaa-slider" class="carousel slide carousel-fade overflow-hidden" data-ride="carousel">
  <ol class="carousel-indicators justify-content-end">
    <li data-target="#dcaa-slider" data-slide-to="0" class=""></li>
    <li data-target="#dcaa-slider" data-slide-to="1" class="active"></li>
    <li data-target="#dcaa-slider" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item">
      <div class="overlay"></div>
      <img class="bd-placeholder-img" src="assets/images/yearoftolerance.jpg" width="100%" >
      <div class="carousel-caption">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="text-left">
                <h1 class="text-uppercase"><span class="primary-color">50 years</span> of achievement</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at
                  eget
                  metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-secondary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="overlay"></div>
      <img class="bd-placeholder-img" src="assets/images/yearoftolerance.jpg" width="100%" >
      <div class="carousel-caption">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="text-left">
                <h1 class="text-uppercase"><span class="primary-color">50 years</span> of achievement</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at
                  eget
                  metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-secondary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="overlay"></div>
      <img class="bd-placeholder-img" src="assets/images/yearoftolerance.jpg" width="100%" >
      <div class="carousel-caption">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="text-left">
                <h1 class="text-uppercase"><span class="primary-color">50 years</span> of achievement</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at
                  eget
                  metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-secondary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-down" (click)="scrollToWebsite()">
    <div></div>
  </div>
</div>
