@import '../../../../variables';

.carousel-caption {
  top: 25%;
  right: 0;
  left: 0;
  bottom: 20px;
  width: 100%;
}

.carousel-indicators {
  right: -6em;

  li {
    width: 8px;
    height: 8px;
    margin: 0 15px;
    border-radius: 15%;
  }
}

.read-more {
  position: absolute;
  left: 50%;
  bottom: 1em;
  border: 1px solid #fff;
  width: 2.5em;
  height: 3.5em;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    animation: scaling 1s infinite;
  }

  div:first-child {
    background: #fff;
    border-radius: 100%;
    width: 8px;
    height: 9px;
    margin-top: 15px;
  }
}

