.read-more {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-bottom: 30px;
  border: 2px solid #fff;
  width: 45px;
  height: 70px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    animation: scaling 1s infinite;
  }

  div:first-child {
    background: #fff;
    border-radius: 100%;
    width: 8px;
    height: 9px;
    margin-top: 15px;
  }
}

@-webkit-keyframes scaling {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes scaling {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
