@import '../../../../variables';

.carousel-caption {
  top: 25%;
  right: 0;
  left: 0;
  bottom: 20px;
  width: 100%;
}

.carousel-indicators {
  right: -6em;

  li {
    width: 8px;
    height: 8px;
    margin: 0 15px;
    border-radius: 15%;
  }
}

.scroll-down {
  position: absolute;
  z-index: 15;
  left: 48.8%;
  bottom: 2em;
  border: 1px solid #fff;
  width: 2em;
  height: 3em;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  div:first-child {
    background: #fff;
    border-radius: 100%;
    width: 8px;
    height: 9px;
    margin-top: -10px;
    -webkit-animation: carousel-scrollbar 1.5s infinite;
    animation: carousel-scrollbar 1.5s infinite;
  }
}

.btn-lg {
  font-size: 0.750em;
  padding: 0.5em 1.750em;
}
