@import "../../../../assets/styles/responsive";

.dcaa-building-construction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 160px;
}

.services-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-control {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;

  .intro-box {
    background: #333333;
    width: 50%;

    .content {
      display: flex;
      justify-content: space-between;
      margin-right: 20px;
      border-right: 5px solid #fff;
    }
  }
}

