<div class="dcaa-building-construction">
  <div class="services-control">
    <div class="intro-box">
      <div class="content">
        <div class="ml-1 mr-1 d-flex align-items-center">
          <svg-icon src="assets/images/air-transport.svg" [stretch]="true"
                    [applyCss]="true" class="white-color" [svgStyle]="{ 'width.px':70, 'fill': '#fff' }"></svg-icon>
          <p class="ml-1 white-color">Building Construction or Elevation permits</p>
        </div>
      </div>
    </div>
    <div class="info">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolores est ipsam sapiente soluta velit
        veritatis vitae. Facere magni obcaecati saepe voluptatum. A ab in iste nulla quasi suscipit temporibus!</p>
      <button class="secondary-btn mt-2">View All Services</button>
    </div>
  </div>

  <div class="services-categories">
    <div class="categories">
      <div class="item">
        <svg-icon src="assets/images/air-transport.svg" [stretch]="true"
                  [svgStyle]="{ 'width.px':90 }"></svg-icon>
        <p>Premits for Aviation related Activites</p>
      </div>
      <div class="item">
        <svg-icon src="assets/images/aviation.svg"
                  [svgStyle]="{ 'width.px':90 }"></svg-icon>
        <p>Premits for Aviation related Activites</p>
      </div>
      <div class="item">
        <svg-icon src="assets/images/suspecious.svg"
                  [svgStyle]="{ 'width.px':90 }"></svg-icon>
        <p>Premits for Aviation related Activites</p>
      </div>
      <div class="item">
        <svg-icon src="assets/images/permission.svg"
                  [svgStyle]="{ 'width.px':90 }"></svg-icon>
        <p>Premits for Aviation related Activites</p>
      </div>
      <div class="item">
        <svg-icon src="assets/images/landing.svg"
                  [svgStyle]="{ 'width.px':90 }"></svg-icon>
        <p>Premits for Aviation related Activites</p>
      </div>
      <div class="item">
        <svg-icon src="assets/images/building.svg"
                  [svgStyle]="{ 'width.px':90 }"></svg-icon>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur debitis deleniti eaque earum
          eligendi error est.!</p>
      </div>
    </div>
  </div>
</div>
