<div class="dcaa-building-construction mt-lg-5 mb-lg-5">
    <section>
        <div class="container">
            <div class="row">
                <div class="services-control col-md-6">
                    <!--<div class="intro-box">-->
                    <!--<div class="content d-flex justify-content-between align-items-center">-->
                    <!--<div class="ml-1 mr-1 d-flex align-items-center">-->
                    <!--<svg-icon src="assets/images/services/air-transport.svg" [stretch]="true"-->
                    <!--[applyCss]="true" class="svg-m" [svgStyle]="{'fill': '#fff' }"></svg-icon>-->
                    <!--<p class="ml-1 white-color">Building Construction or Elevation permits</p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="media">
                        <span class="icon-pencil2 align-self-center mr-3"></span>
                        <div class="media-body">
                            <h5 class="mt-0 mb-0">Building Construction or Elevation permits</h5>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <h5 class="card-subtitle mb-5 text-muted">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Accusamus adipisci amet autem ea eius eos facilis, fugiat incidunt
                                labore, molestias non porro quaerat rem rerum sapiente sequi tempora veritatis
                                voluptatibus!</h5>

                            <span class="icon-pencil2"></span>
                        </div>
                    </div>
                </div>
                <div class="services-categories col-md-6">
                    <div class="categories">
                        <div class="item">
                            <svg-icon src="assets/images/services/air-transport.svg" [stretch]="true"
                                      class="svg-b"></svg-icon>
                            <p>Premits for Aviation related Activites</p>
                        </div>
                        <div class="item">
                            <svg-icon src="assets/images/services/aviation.svg"
                                      class="svg-b"></svg-icon>
                            <p>Premits for Aviation related Activites</p>
                        </div>
                        <div class="item">
                            <svg-icon src="assets/images/services/suspecious.svg"
                                      class="svg-b"></svg-icon>
                            <p>Premits for Aviation related Activites</p>
                        </div>
                        <div class="item">
                            <svg-icon src="assets/images/services/permission.svg"
                                      class="svg-b"></svg-icon>
                            <p>Premits for Aviation related Activites</p>
                        </div>
                        <div class="item">
                            <svg-icon src="assets/images/services/landing.svg"
                                      class="svg-b"></svg-icon>
                            <p>Premits for Aviation related Activites</p>
                        </div>
                        <div class="item">
                            <svg-icon src="assets/images/services/building.svg"
                                      class="svg-b"></svg-icon>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur debitis
                                deleniti eaque earum
                                eligendi error est.!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
