<div class="row">
  <div class="col-md-6">
    <h6 class="primary-color text-uppercase" i18n="@@changepassword">Change Password</h6>
    <form class="p-b-20" [formGroup]="changepasswordForm" (ngSubmit)="updatePassword(formDirective)"
          #formDirective="ngForm">

      <div class="form-group  m-t-15">
        <span i18n="@@oldPassword">Old Password<span class="text-primary">*</span></span>
        <input formControlName="oldPassword"
               [ngClass]="{ 'is-invalid': changepasswordSubmitted && l.oldPassword.errors }" type="password"
               class="form-control clientApp-input" id="oldPassword" placeholder="Current password">
        <div *ngIf="changepasswordSubmitted && l.oldPassword.errors" class="always-block primary-color">
          <div *ngIf="l.oldPassword.errors.required" i18n="@@required">This field is required</div>
          <div *ngIf="l.oldPassword.errors.minlength" i18n="@@minlength">Minimum - 6 characters</div>
          <div *ngIf="l.oldPassword.errors.cannotContainSpace" i18n="@@passwordNoSpace">Password cannot contain space
          </div>
        </div>
      </div>

      <div class="form-group  m-t-15">
        <span i18n="@@newPassword">Old Password<span class="text-primary">*</span></span>

        <input formControlName="newPassword"
               [ngClass]="{ 'is-invalid': changepasswordSubmitted && l.newPassword.errors }" type="password"
               class="form-control clientApp-input" id="newPassword" placeholder="New password">
        <div *ngIf="changepasswordSubmitted && l.newPassword.errors"
             class="always-block primary-color">
          <div *ngIf="l.newPassword.errors.required" i18n="@@required">This field is required</div>
          <div *ngIf="l.newPassword.errors.minlength" i18n="@@minlength">Minimum - 6 characters</div>
          <div *ngIf="l.newPassword.errors.cannotContainSpace" i18n="@@passwordNoSpace">Password cannot contain
            space
          </div>
        </div>
      </div>

      <div class="form-group  m-t-15">
        <span i18n="@@confirmpass">Confirm Password<span class="text-primary">*</span></span>

        <input formControlName="confirmPassword"
               [ngClass]="{ 'is-invalid': changepasswordSubmitted && l.confirmPassword.errors }" type="password"
               class="form-control clientApp-input" id="confirmPassword" i18n="@@passwordConfirmation"
               placeholder="Password Confirmation">
        <div *ngIf="changepasswordSubmitted && l.confirmPassword.errors"
             class="always-block primary-color">
          <div *ngIf="l.confirmPassword.errors.required" i18n="@@required">This field is required</div>
          <div *ngIf="l.confirmPassword.errors.minlength" i18n="@@minlength">Minimum - 6 characters</div>
          <div *ngIf="l.confirmPassword.errors.cannotContainSpace" i18n="@@passwordNoSpace">Password cannot contain
            space
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div class="mt-3" i18n="@@update">
          <button type="submit" [disabled]="this.inProgress"
                  class="btn btn-lg btn-primary d-flex align-items-center py-1 pl-4 pr-4 reverse">
            <div *ngIf="inProgress" class="spinner-border spinner-border-sm mx-1" role="status">
              <span class="sr-only"> {{'_Forms._Loading' | translate}}...</span>
            </div>
            Submit
          </button>
        </div>
      </div>

      <div class="p-lr-20 mt-3" *ngIf="changepasswordErrors.length > 0">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <div *ngFor="let text of changepasswordErrors">{{text}}</div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

<swal
  title="Password Changed" i18n-title="@@passwordChanged" i18n-html="@@passwordChangedHTML"
  html="Your password has been changed successfully"
  #swalComp
  type="success">
</swal>
