<div class="main-wrapper-section">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="font-weight-light m-b-20 text-center m-t-20" i18n="@@changepassword">Change Password</h2>
        <div *ngIf="myProfile" class="profile-holder"><img [src]="myProfile.pictureUrl | helper:'fsObjString'" alt=""></div>
        <h5 *ngIf="false" class="font-weight-bold text-center m-t-10">{{myProfile.firstName}} {{myProfile.lastName}}</h5>
        <form class="p-b-20" [formGroup]="changepasswordForm" (ngSubmit)="updatePassword(formDirective)" #formDirective="ngForm">
          <div class="row justify-content-md-center justify-content-sm-center m-t-20">
              <div class="col-sm-12 col-md-5 col-lg-4">
                  <div class="form-group m-b-1 m-t-15">
                    <label for="oldPassword" class="font-weight-bold text-primary clientApp-label" i18n="@@oldPassword">Old Password</label>
                    <input formControlName="oldPassword" [ngClass]="{ 'is-invalid': changepasswordSubmitted && l.oldPassword.errors }" type="password" class="form-control clientApp-input" id="oldPassword" placeholder="Current password">
                  </div>
                  <div *ngIf="changepasswordSubmitted && l.oldPassword.errors" class="invalid-feedback always-block text-center">
                      <div *ngIf="l.oldPassword.errors.required" i18n="@@required">This field is required</div>
                      <div *ngIf="l.oldPassword.errors.minlength" i18n="@@minlength">Minimum - 6 characters</div>
                      <div *ngIf="l.oldPassword.errors.cannotContainSpace" i18n="@@passwordNoSpace">Password cannot contain space</div>
                  </div>
              </div>
          </div>
          <div class="row justify-content-md-center justify-content-sm-center">
              <div class="col-sm-12 col-md-5 col-lg-4">
                  <div class="form-group m-b-1 m-t-15">
                    <label for="newPassword" class="font-weight-bold text-primary clientApp-label" i18n="@@newPassword">New Password</label>
                    <input formControlName="newPassword" [ngClass]="{ 'is-invalid': changepasswordSubmitted && l.newPassword.errors }" type="password" class="form-control clientApp-input" id="newPassword" placeholder="New password">
                  </div>
                  <div *ngIf="changepasswordSubmitted && l.newPassword.errors" class="invalid-feedback always-block text-center">
                      <div *ngIf="l.newPassword.errors.required" i18n="@@required">This field is required</div>
                      <div *ngIf="l.newPassword.errors.minlength" i18n="@@minlength">Minimum - 6 characters</div>
                      <div *ngIf="l.newPassword.errors.cannotContainSpace" i18n="@@passwordNoSpace">Password cannot contain space</div>
                  </div>
              </div>
          </div>  
          <div class="row justify-content-md-center justify-content-sm-center">
              <div class="col-sm-12 col-md-5 col-lg-4">
                  <div class="form-group m-b-1 m-t-15">
                    <label for="confirmPassword" class="font-weight-bold text-primary clientApp-label" i18n="@@confirmpass">Confirm Password</label>
                    <input formControlName="confirmPassword" [ngClass]="{ 'is-invalid': changepasswordSubmitted && l.confirmPassword.errors }" type="password" class="form-control clientApp-input" id="confirmPassword" i18n="@@passwordConfirmation" placeholder="Password Confirmation">
                  </div>
                  <div *ngIf="changepasswordSubmitted && l.confirmPassword.errors" class="invalid-feedback always-block text-center">
                      <div *ngIf="l.confirmPassword.errors.required" i18n="@@required">This field is required</div>
                      <div *ngIf="l.confirmPassword.errors.minlength" i18n="@@minlength">Minimum - 6 characters</div>
                      <div *ngIf="l.confirmPassword.errors.cannotContainSpace" i18n="@@passwordNoSpace">Password cannot contain space</div>
                  </div>
              </div>
          </div>                  
          <div class="display-flex no-wrap flex-valign-center flex-halign-center m-t-20">
            <button type="submit" [disabled]="this.inProgress" class="btn btn-secondary clientApp-style">
                <div class="display-flex">
                    <div *ngIf="inProgress" class="spinner-border spinner-border-sm prelative top-3 right-10" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <div i18n="@@update" class="m-lr-5">Update</div>
                </div>
            </button>                
          </div>
          <p class="p-t-20" *ngIf="changepasswordErrors.length > 0">
            <ngb-alert #alert type="danger" (close)="changepasswordErrors = []">
              <span *ngFor="let text of changepasswordErrors">{{text}}</span>
            </ngb-alert>
          </p>
        </form>    
      </div>
    </div>
  </div>
</div>

<swal
#swalComp 
type="success">
</swal>