<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link border-up-box active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
       role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link border-up-box" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
       role="tab"
       aria-controls="pills-profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link border-up-box" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
       role="tab"
       aria-controls="pills-contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content pt-3" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid debitis dolor error eum exercitationem
    facere illum, nesciunt non, quas quia sapiente sit temporibus, voluptatem? Alias quas quisquam recusandae
    vitae voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi cupiditate deserunt
    et exercitationem quas sapiente? Accusantium assumenda, fugiat incidunt iste magnam modi omnis quae quas
    rem repellendus? Dolorum, nesciunt!
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. A consectetur consequatur deserunt dolore earum
    excepturi fugit hic, iure, modi nesciunt, non perspiciatis quasi quos reprehenderit voluptas voluptatem
    voluptates! Eos, minus!
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Lorem
    ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aut, cum inventore libero sequi sit.
    Accusantium atque consectetur ea iste iusto molestiae, necessitatibus optio quis quisquam, repudiandae
    temporibus voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto
    corporis cum, debitis deserunt, distinctio dolor dolore dolores ducimus enim ex exercitationem facilis,
    maiores minus necessitatibus officia quas rerum voluptatibus. Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Hic nemo obcaecati quaerat quia quibusdam tempore veritatis voluptatem? Aut corporis
    deserunt dolor sequi! Consectetur dignissimos dolorem exercitationem in iusto nihil numquam.
  </div>
</div>
<!--<div class="row pt-5">-->
<!--  <div class="col-md-12">-->
<!--    <div class="row">-->
<!--      <div class="col-md-3">-->
<!--        <div class="card bg-inverse">-->
<!--          <img class="card-img" src="assets/images/LINKS IMAGE.png">-->
<!--          <div class="card-img-overlay d-flex flex-column justify-content-end">-->
<!--            <a class="font-weight-bold m-0">Mission and Vision</a>-->
<!--            <p class="card-title m-0">The World Airport, Dubai</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="card bg-inverse">-->
<!--          <img class="card-img" src="assets/images/LINKS IMAGE.png">-->
<!--          <div class="card-img-overlay d-flex flex-column justify-content-end">-->
<!--            <a class="font-weight-bold m-0">Mission and Vision</a>-->
<!--            <p class="card-title m-0">The World Airport, Dubai</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="card bg-inverse">-->
<!--          <img class="card-img" src="assets/images/LINKS IMAGE.png">-->
<!--          <div class="card-img-overlay d-flex flex-column justify-content-end">-->
<!--            <a class="font-weight-bold m-0">Mission and Vision</a>-->
<!--            <p class="card-title m-0">The World Airport, Dubai</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class="card bg-inverse">-->
<!--          <img class="card-img" src="assets/images/LINKS IMAGE.png">-->
<!--          <div class="card-img-overlay d-flex flex-column justify-content-end">-->
<!--            <a class="font-weight-bold m-0">Mission and Vision</a>-->
<!--            <p class="card-title m-0">The World Airport, Dubai</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
