<div class="dcaa-more-about">
  <div class="container">
      <h2 class="card-title p-0 pr-1 col-md-2">More About DCAA</h2>
      <div class="card-columns row">
        <div class="card col-xs-6 col-md-3">
          <div class="thumb">
            <span class="icon-zoom">
              <span class="path1"></span>
              <span class="path2"></span>
            </span>
            <img src="assets/images/SLIDER MAIN.png" width="100%" alt="">
          </div>
          <div class="card-body p-0 pt-3">
            <h6 class="card-title m-0 font-weight-bold">John Doe</h6>
            <p class="text-muted">Some example text some example text. John Doe is an architect and engineer</p>
          </div>
        </div>
        <div class="card col-xs-6 col-md-3">
          <div class="thumb">
            <span class="icon-zoom">
              <span class="path1"></span>
              <span class="path2"></span>
            </span>
            <img src="assets/images/SLIDER MAIN.png" width="100%" alt="">
          </div>
          <div class="card-body p-0 pt-3">
            <h6 class="card-title m-0 font-weight-bold">John Doe</h6>
            <p class="text-muted">Some example text some example text. John Doe is an architect and engineer</p>
          </div>
        </div>
        <div class="card col-xs-6 col-md-3">
          <div class="thumb">
            <span class="icon-zoom">
              <span class="path1"></span>
              <span class="path2"></span>
            </span>
            <img src="assets/images/SLIDER MAIN.png" width="100%" alt="">
          </div>
          <div class="card-body p-0 pt-3">
            <h6 class="card-title m-0 font-weight-bold">John Doe</h6>
            <p class="text-muted">Some example text some example text. John Doe is an architect and engineer</p>
          </div>
        </div>
        <div class="card col-xs-6 col-md-3">
          <div class="thumb">
            <span class="icon-zoom">
              <span class="path1"></span>
              <span class="path2"></span>
            </span>
            <img src="assets/images/SLIDER MAIN.png" width="100%" alt="">
          </div>
          <div class="card-body p-0 pt-3">
            <h6 class="card-title m-0 font-weight-bold">John Doe</h6>
            <p class="text-muted">Some example text some example text. John Doe is an architect and engineer</p>
          </div>
        </div>
      </div>
  </div>
</div>
