<div class="dcaa-more-about">
  <div class="more-head">
    <h2 class="mb-1">More About DCAA</h2>
  </div>
  <div class="items">
    <div class="photos">
      <div class="item">
        <div class="aligns">
          <div class="thumb">
            <img src="assets/images/SLIDER MAIN.png">
            <div class="zoom"></div>
          </div>
          <div class="description">
            <div class="desc-head">
              DCAA Duties
            </div>
            <div class="desc-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta hic magni nostrum optio
              voluptatem. Adipisci aperiam beatae enim explicabo incidunt iste mollitia praesentium quisquam quos
              reiciendis reprehenderit, suscipit vel.
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="aligns">
          <div class="thumb">
            <img src="assets/images/SLIDER MAIN.png">
            <div class="zoom"></div>
          </div>
          <div class="description">
            <div class="desc-head">
              DCAA Duties
            </div>
            <div class="desc-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta hic magni nostrum optio
              voluptatem. Adipisci aperiam beatae enim explicabo incidunt iste mollitia praesentium quisquam quos
              reiciendis reprehenderit, suscipit vel.
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="aligns">
          <div class="thumb">
            <img src="assets/images/SLIDER MAIN.png">
            <div class="zoom"></div>
          </div>
          <div class="description">
            <div class="desc-head">
              DCAA Duties
            </div>
            <div class="desc-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta hic magni nostrum optio
              voluptatem. Adipisci aperiam beatae enim explicabo incidunt iste mollitia praesentium quisquam quos
              reiciendis reprehenderit, suscipit vel.
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="aligns">
          <div class="thumb">
            <img src="assets/images/SLIDER MAIN.png">
            <div class="zoom"></div>
          </div>
          <div class="description">
            <div class="desc-head">
              DCAA Duties
            </div>
            <div class="desc-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta hic magni nostrum optio
              voluptatem. Adipisci aperiam beatae enim explicabo incidunt iste mollitia praesentium quisquam quos
              reiciendis reprehenderit, suscipit vel.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
