@import '../../../../variables';

.thumb {
  position: relative;
}

.icon-zoom {
  position: absolute;
  @include right(0);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: #fff;
  border: 1px solid $transparent;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}

.card {
  border: none;
  border-radius: 0;

  .card-body {
    border-bottom: 2px solid $primary;
  }
}
