<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link border-up-box active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
       role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link border-up-box" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
       role="tab"
       aria-controls="pills-profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link border-up-box" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
       role="tab"
       aria-controls="pills-contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content pt-3" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group with-separator nav p-0 pt-5 text-left bg-transparent" id="list-tab" role="tablist">
          <li class="nav-link light-border active">Legal Affairs Office</li>
          <li class="nav-link light-border">Legal Affairs Office</li>
          <li class="nav-link light-border">Legal Affairs Office</li>
          <li class="nav-link light-border">Legal Affairs Office</li>
        </ul>
      </div>
      <div class="col-md-9">
        <ul class="timeline text-justify pt-5">
          <li>
            <p class="primary-color m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et
              elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales
              vehicula....</p>
          </li>
          <li>
            <p class="primary-color m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo
              accumsan, sed semper nisi sollicitudin...</p>
          </li>
          <li>
            <p class="primary-color m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae,
              mollis pharetra velit. Sed nec tempor nibh...</p>
          </li>
          <li>
            <p class="primary-color m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae,
              mollis pharetra velit. Sed nec tempor nibh...</p>
          </li>
          <li>
            <p class="primary-color m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa explicabo nesciunt officia suscipit.
              Fugiat maxime sed sint. Ipsa laudantium, quae. Ab ad at dignissimos ipsa odio quam rem, saepe soluta!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo fuga officia quisquam vero! Atque
              debitis illum magni. Dolore doloremque impedit libero magni molestiae, sint voluptate! Animi debitis iste
              quam quisquam?lorem</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
