<div *ngIf="individualType == IndividualType.Resident || individualType == IndividualType.Tourist" class="pt-3"
     id="personal-tab-content">
  <form class="pb-3 border-bottom tab-content" [formGroup]="documentsForm" (ngSubmit)="onSubmit()">
    <h6 class="primary-color mb-2">Documents Details:</h6>
    <div class="row">
      <div *ngIf="individualType == IndividualType.Resident" class="col-md-6 col-sm-3">
        <div class="form-group">
          <span i18n="@@emiratesID">Emirates ID <span class="text-primary">*</span></span>
          <input i18n-placeholder="@@emiratesID" formControlName="emiratesID"
                 [ngClass]="{ 'is-invalid': formSubmitted && p.emiratesID.errors }" type="text"
                 class="form-control clientApp-input" id="emiratesID" placeholder="Emirates ID Number">
          <div *ngIf="formSubmitted && p.emiratesID.errors" class="invalid-feedback always-block text-left">
            <div i18n="@@required" *ngIf="p.emiratesID.errors.required">Field is required</div>
          </div>
        </div>
      </div>
      <div *ngIf="individualType == IndividualType.Resident" class="col-md-6 col-sm-3">
        <div class="form-group">
          <span i18n="@@identityId">Attach Emirates ID <span class="text-primary">*</span></span>

          <div class="d-flex custom-datepicker attachID position-relative">
            <span class="icon-attachment"></span>
            <app-file-uploader [formControl]="documentsForm.controls['emiratesIDCopy']" [uploadType]="'default_inline'" #imageFileUploadCrl></app-file-uploader>
          </div>
          <div *ngIf="p.emiratesID.errors" class="invalid-feedback always-block text-left">
            <div i18n="@@required" *ngIf="formSubmitted && p.emiratesID.errors.required">Field is required</div>
          </div>
        </div>
      </div>
      <div *ngIf="individualType == IndividualType.Tourist" class="col-md-6 col-sm-3">
        <div class="form-group">
          <span i18n="@@passportNumber">Passport Number <span class="text-primary">*</span></span>
          <input i18n-placeholder="@@passportNumber" formControlName="passportVisa"
                 [ngClass]="{ 'is-invalid': formSubmitted && p.passport.errors }" type="text"
                 class="form-control clientApp-input" id="passportVisa" placeholder="Passport Number">
          <div *ngIf="formSubmitted && p.passportVisa.errors" class="invalid-feedback always-block text-left">
            <div i18n="@@required" *ngIf="p.passportVisa.errors.required">Field is required</div>
          </div>
        </div>
      </div>
      <div *ngIf="individualType == IndividualType.Tourist" class="col-md-6 col-sm-3">
        <div class="form-group">
          <span i18n="@@passport">Attach Passport <span class="text-primary">*</span></span>

          <div class="d-flex custom-datepicker attachID position-relative">
            <span class="icon-attachment"></span>
            <app-file-uploader [formControl]="documentsForm.controls['passportVisaCopy']" [uploadType]="'default_inline'" #imageFileUploadCrl></app-file-uploader>
          </div>
          <div *ngIf="p.passportVisa.errors" class="invalid-feedback always-block text-left">
            <div i18n="@@required" *ngIf="formSubmitted && p.passportVisa.errors.required">Field is required</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

