<div class="dcaa-safety-inspections px-5">
  <table class="table text-center border-0">
    <thead>
    <tr class="row">
      <th scope="col" class="col-sm-3"></th>
      <th scope="col" class="col-sm-3 primary-color">2015</th>
      <th scope="col" class="col-sm-3">2014</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row">
      <td class="col-md-3">
        <div class="d-flex justify-content-between align-items-center">
          <span class="icon-Permit-by-DCAA"></span>
          <span class="mx-2 text-left"> Foreign Aircraft Safety</span>
        </div>
      </td>
      <td class="col-md-3 new primary-color">335</td>
      <td class="col-md-3 old">54</td>
    </tr>
    <tr class="row">
      <td class="col-md-3">
        <div class="d-flex justify-content-between align-items-center">
          <span class="icon-Permit-by-DCAA"></span>
          <span class="mx-2 text-left"> Foreign Aircraft Safety</span>
        </div>
      </td>
      <td class="col-md-3 new primary-color">335</td>
      <td class="col-md-3 old">54</td>
    </tr>
    <tr class="row">
      <td class="col-md-3">
        <div class="d-flex justify-content-between align-items-center">
          <span class="icon-Permit-by-DCAA"></span>
          <span class="mx-2 text-left"> Foreign Aircraft Safety</span>
        </div>
      </td>
      <td class="col-md-3 new primary-color">335</td>
      <td class="col-md-3 old">54</td>
    </tr>
    <tr class="row">
      <td class="col-md-3">
        <div class="d-flex justify-content-between align-items-center">
          <span class="icon-Permit-by-DCAA"></span>
          <span class="mx-2 text-left"> Foreign Aircraft Safety</span>
        </div>
      </td>
      <td class="col-md-3 new primary-color">335</td>
      <td class="col-md-3 old">54</td>
    </tr>
    <tr class="row">
      <td class="col-md-3">
        <div class="d-flex justify-content-between align-items-center">
          <span class="icon-Permit-by-DCAA"></span>
          <span class="mx-2 text-left"> Foreign Aircraft Safety</span>
        </div>
      </td>
      <td class="col-md-3 new primary-color">335</td>
      <td class="col-md-3 old">54</td>
    </tr>

    </tbody>
  </table>

</div>
