/* Buttons */
.primary-btn {
  color: $white;
  background: #736f6f12;
  font-size: $primary-btn-size;
  width: 225px;
  height: 55px;
  border-radius: 35px;
  border: 1px solid $white;
  padding: 0;
  @include respond-to(tablet-screen) {
    font-size: $primary-btn-size-sm;
    width: 185px;
    height: 40px;
  }
  @include respond-to(mobileL-screen) {
    font-size: $primary-btn-size-sm;
    width: 185px;
    height: 40px;
  }
  @include respond-to(mobileM-screen) {
    font-size: $primary-btn-size-sm;
    width: 185px;
    height: 40px;
  }
  @include respond-to(mobileS-screen) {
    font-size: $primary-btn-size-sm;
    width: 185px;
    height: 40px;
  }

  &:hover {
    cursor: pointer;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    border: none;
    background: $primary;
  }

  &:active {
    transform: scale(0.9);
  }
}

.secondary-btn {
  color: $primary;
  background: transparent;
  font-size: $primary-btn-size;
  width: 225px;
  height: 55px;
  border-radius: 35px;
  border: 1px solid $primary;
  padding: 0;
  @include respond-to(tablet-screen) {
    font-size: $primary-btn-size-sm;
    width: 185px;
    height: 40px;
  }
  @include respond-to(mobileL-screen) {
    font-size: $primary-btn-size-sm;
    width: 185px;
    height: 40px;
  }
  @include respond-to(mobileM-screen) {
    font-size: $primary-btn-size-sm;
    width: 185px;
    height: 40px;
  }
  @include respond-to(mobileS-screen) {
    font-size: $primary-btn-size-sm;
    width: 185px;
    height: 40px;
  }

  &:hover {
    cursor: pointer;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    border: none;
    background: $primary;
    color: $white;
  }

  &:active {
    transform: scale(0.9);
  }
}

.login button {
  border-radius: 25px;
  padding: 5px 10px;
  width: 105px;
  background: $primary;
  color: $secondary;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

