@font-face {
  font-family: 'Dubai Light';
  src: url('fonts/DubaiW23-Light.eot');
  src: url('fonts/DubaiW23-Light.woff2') format('woff2'),
  url('fonts/DubaiW23-Light.woff') format('woff')
}

@font-face {
  font-family: 'Dubai Regular';
  src: url('fonts/DubaiW23-Regular.eot');
  src: url('fonts/DubaiW23-Regular.woff2') format('woff2'),
  url('fonts/DubaiW23-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Dubai Medium';
  src: url('fonts/DubaiW23-Medium.eot');
  src: url('fonts/DubaiW23-Medium.woff2') format('woff2'),
  url('fonts/DubaiW23-Medium.woff') format('woff')
}

@font-face {
  font-family: 'Dubai Bold';
  src: url('fonts/DubaiW23-Bold.eot');
  src: url('fonts/DubaiW23-Bold.woff2') format('woff2'),
  url('fonts/DubaiW23-Bold.woff') format('woff')
}


