@font-face {
  font-family: 'Dubai Regular';
  src: url('fonts/DubaiW23-Regular.eot');
  src: url('fonts/DubaiW23-Regular.woff2') format('woff2'),
  url('fonts/DubaiW23-Regular.woff') format('woff')
}

