@font-face {
  font-family: 'dcaa-icons';
  src:  url('fonts/dcaa-icons.eot?7ibtag');
  src:  url('fonts/dcaa-icons.eot?7ibtag#iefix') format('embedded-opentype'),
  url('fonts/dcaa-icons.ttf?7ibtag') format('truetype'),
  url('fonts/dcaa-icons.woff?7ibtag') format('woff'),
  url('fonts/dcaa-icons.svg?7ibtag#dcaa-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dcaa-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-agency:before {
  content: "\e97b";
}
.icon-employee:before {
  content: "\e97c";
}
.icon-resident:before {
  content: "\e95c";
}
.icon-tourist:before {
  content: "\e962";
}
.icon-add-image-icon:before {
  content: "\e959";
  color: #fff;
}
.icon-DED:before {
  content: "\e95a";
}
.icon-individual:before {
  content: "\e95b";
}
.icon-company:before {
  content: "\e95d";
}
.icon-government:before {
  content: "\e95e";
}
.icon-inUAE:before {
  content: "\e95f";
}
.icon-OutsideUAE:before {
  content: "\e960";
}
.icon-pvtcompany:before {
  content: "\e961";
}
.icon-eye:before {
  content: "\e954";
}
.icon-original-text:before {
  content: "\e955";
}
.icon-print:before {
  content: "\e956";
}
.icon-text-down:before {
  content: "\e957";
}
.icon-Text-up:before {
  content: "\e958";
}
.icon-UAE-pass .path1:before {
  content: "\e951";
  color: rgb(214, 81, 79);
}
.icon-UAE-pass .path2:before {
  content: "\e952";
  margin-left: -0.9658203125em;
  color: rgb(0, 174, 115);
}
.icon-UAE-pass .path3:before {
  content: "\e953";
  margin-left: -0.9658203125em;
  color: rgb(255, 255, 255);
}
.icon-google:before {
  content: "\e963";
}
.icon-facebook:before {
  content: "\e949";
}
.icon-instagram:before {
  content: "\e94a";
}
.icon-linkedin:before {
  content: "\e94b";
}
.icon-twitter:before {
  content: "\e94c";
}
.icon-youtube:before {
  content: "\e94d";
}
.icon-Landing-permits-for-flights:before {
  content: "\e915";
}
.icon-firearms:before {
  content: "\e916";
}
.icon-storage-of-dangerous-goods:before {
  content: "\e917";
}
.icon-suspicious-goods:before {
  content: "\e918";
}
.icon-transport-dangerous-goods:before {
  content: "\e919";
}
.icon-aircraft-Warning-Lights:before {
  content: "\e91a";
}
.icon-construct-a-building:before {
  content: "\e91b";
}
.icon-high-voltage-power-lines:before {
  content: "\e91c";
}
.icon-NOC-for-building-heights:before {
  content: "\e91d";
}
.icon-telecommunications-tower:before {
  content: "\e91e";
}
.icon-use-cranes:before {
  content: "\e91f";
}
.icon-aviation-institute:before {
  content: "\e920";
}
.icon-Aviation-Training-Programs:before {
  content: "\e921";
}
.icon-conduct-activity-out-of-Schedule:before {
  content: "\e922";
}
.icon-damaged-permit:before {
  content: "\e923";
}
.icon-de-register-an-aircraft:before {
  content: "\e924";
}
.icon-Establish-Aviation-Club:before {
  content: "\e925";
}
.icon-Manufacturing-aircraft-parts-permit:before {
  content: "\e926";
}
.icon-manufacturing-Aircraft:before {
  content: "\e927";
}
.icon-manufacturing-flight-simulation-equipment:before {
  content: "\e928";
}
.icon-manufacturing-fuselages:before {
  content: "\e929";
}
.icon-manufacturing-radio-controlled-aircraft:before {
  content: "\e92a";
}
.icon-NOC-to-Concerned-Entities:before {
  content: "\e92b";
}
.icon-open-service-center:before {
  content: "\e92c";
}
.icon-Permit-by-DCAA:before {
  content: "\e92d";
}
.icon-register-an-aircraft:before {
  content: "\e92e";
}
.icon-renew-activity-out-of-Schedule-Permit:before {
  content: "\e92f";
}
.icon-renew-Aviation-Club-permit:before {
  content: "\e930";
}
.icon-renew-aviation-institute:before {
  content: "\e931";
}
.icon-renew-flight-simulation-equipment-permit:before {
  content: "\e932";
}
.icon-renew-manufacture-aircraft-parts-permit:before {
  content: "\e933";
}
.icon-renew-manufacturing-aircraft-permit:before {
  content: "\e934";
}
.icon-renew-manufacturing-fuselages-permit:before {
  content: "\e935";
}
.icon-renew-manufacturing-radio-controlled-aircraft-permit:before {
  content: "\e936";
}
.icon-temporary-exemption:before {
  content: "\e937";
}
.icon-air-sports-event:before {
  content: "\e938";
}
.icon-Fly-Aircraft-for-aerial-filming:before {
  content: "\e939";
}
.icon-Fly-Drone-During-Event:before {
  content: "\e93a";
}
.icon-Fly-Drone-for-once:before {
  content: "\e93b";
}
.icon-identifying-aircraft-spare-parts:before {
  content: "\e93c";
}
.icon-NOC-launch-balloons:before {
  content: "\e93d";
}
.icon-NOC-to-conduct-event:before {
  content: "\e93e";
}
.icon-pyrotechnic-display:before {
  content: "\e93f";
}
.icon-Registration-of-Commercial-Drone:before {
  content: "\e940";
}
.icon-Registration-of-Personal-Drone:before {
  content: "\e941";
}
.icon-sky-trackers:before {
  content: "\e942";
}
.icon-Transport-aircraft-Parts:before {
  content: "\e943";
}
.icon-Commercial-aircraft-landing-field:before {
  content: "\e944";
}
.icon-Commercial-Heliport:before {
  content: "\e945";
}
.icon-Landing-field-for-sports-aircraft:before {
  content: "\e946";
}
.icon-Non-commercial-aircraft-landing-field:before {
  content: "\e947";
}
.icon-Non-commercial-Heliport:before {
  content: "\e948";
}
.icon-Building-Constructions:before {
  content: "\e912";
}
.icon-Approving-Landing-Fields:before {
  content: "\e907";
}
.icon-Aviation-related-Activities:before {
  content: "\e909";
}
.icon-Aviation-Safety-Operations:before {
  content: "\e911";
}
.icon-Dangerous-Goods:before {
  content: "\e913";
}
.icon-Landing-Permits:before {
  content: "\e914";
}
.icon-attachment:before {
  content: "\e979";
}
.icon-close:before {
  content: "\e97a";
  color: #d6514f;
}
.icon-board .path1:before {
  content: "\e964";
  color: rgb(152, 136, 102);
}
.icon-board .path2:before {
  content: "\e965";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path3:before {
  content: "\e966";
  margin-left: -0.677734375em;
  color: rgb(255, 255, 255);
}
.icon-board .path4:before {
  content: "\e967";
  margin-left: -0.677734375em;
  color: rgb(67, 54, 193);
  opacity: 0.65;
}
.icon-board .path5:before {
  content: "\e968";
  margin-left: -0.677734375em;
  color: rgb(152, 136, 102);
  opacity: 0.71;
}
.icon-board .path6:before {
  content: "\e969";
  margin-left: -0.677734375em;
  color: rgb(152, 136, 102);
}
.icon-board .path7:before {
  content: "\e96a";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path8:before {
  content: "\e96b";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path9:before {
  content: "\e96c";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path10:before {
  content: "\e96d";
  margin-left: -0.677734375em;
  color: rgb(152, 136, 102);
}
.icon-board .path11:before {
  content: "\e96e";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path12:before {
  content: "\e96f";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path13:before {
  content: "\e970";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path14:before {
  content: "\e971";
  margin-left: -0.677734375em;
  color: rgb(152, 136, 102);
}
.icon-board .path15:before {
  content: "\e972";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path16:before {
  content: "\e973";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path17:before {
  content: "\e974";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path18:before {
  content: "\e975";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path19:before {
  content: "\e976";
  margin-left: -0.677734375em;
  color: rgb(152, 136, 102);
}
.icon-board .path20:before {
  content: "\e977";
  margin-left: -0.677734375em;
  color: rgb(244, 244, 244);
}
.icon-board .path21:before {
  content: "\e978";
  margin-left: -0.677734375em;
  color: rgb(152, 136, 102);
}
.icon-pointer .path1:before {
  content: "\e94f";
  color: rgb(214, 81, 79);
}
.icon-pointer .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-smiley-meter:before {
  content: "\e94e";
}
.icon-saperator:before {
  content: "\e90c";
}
.icon-android:before {
  content: "\e900";
}
.icon-apple:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-chat:before {
  content: "\e904";
}
.icon-left:before {
  content: "\e905";
}
.icon-login:before {
  content: "\e906";
}
.icon-notification:before {
  content: "\e908";
}
.icon-right:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-settings:before {
  content: "\e90d";
}
.icon-sounds:before {
  content: "\e90e";
}
.icon-zoom .path1:before {
  content: "\e90f";
  color: rgb(40, 40, 40);
}
.icon-zoom .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(216, 82, 82);
}
