.mat-list-base .mat-list-item .mat-list-text>*, .mat-list-base .mat-list-option .mat-list-text>* {
    font-size: $font-size-base !important;
}

// gallery plugin angular material fix
.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

.mat-select-search-input, .mat-input-element{
    border: none !important;
}