@include media-breakpoint-down(md) {
  h1 {
    font-size: $h1-font-size - 1;
  }
  .dcaa-header {
    display: flex;
    flex-direction: column-reverse;
  }

  .main-nav {
    position: initial !important;
    padding: 5px;
  }

  .accessibility {
    display: none;
  }

  .top-header {
    .gov-logo {
      width: 35%;
    }

    .dcaa-logo {
      width: 60%;
    }
  }

  .carousel-caption {
    top: 0 !important;
  }

  .carousel-indicators {
    text-align: center;
    justify-content: center !important;
    #{$right}: -15em !important;
    bottom: 1.5em;
  }

  .scroll-down {
    #{$left}: 45%;
    bottom: 1em;
  }

  .card {
    margin: auto !important;
    text-align: center;
  }

  .dcaa-xgallery {
    padding: initial !important;
  }

  .page-footer .social {
    justify-content: center;
  }
  .mobile {
    display: block !important;
  }

  .latest-news {
    .news-head {
      width: 25%;
      padding: 0 10px !important;
    }

    .news-item {
      padding: 0 !important;
      width: 70%;
    }
  }
}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(lg) {

}
