// ng-deep for components and the regular one is for external scss files because externals don't compile ng-dee.

@mixin right($value) {
  ::ng-deep [lang="en"] & {
    right: $value;
  }
  ::ng-deep [lang="ar"] & {
    left: $value;
  }
  [lang="en"] & {
    right: $value;
  }
  [lang="ar"] & {
    left: $value;
  }
}

@mixin left($value) {
  ::ng-deep [lang="en"] & {
    left: $value;
  }
  ::ng-deep [lang="ar"] & {
    right: $value;
  }
  [lang="en"] & {
    left: $value;
  }
  [lang="ar"] & {
    right: $value;
  }
}

@mixin padding($direction, $value) {
  ::ng-deep [lang="en"] & {
    @if ($direction == 'right') {
      padding-right: $value;
    } @else {
      padding-left: $value;
    }
  }
  ::ng-deep [lang="ar"] & {
    @if ($direction == 'right') {
      padding-left: $value;
    } @else {
      padding-right: $value;
    }
  }
  [lang="en"] & {
    @if ($direction == 'right') {
      padding-right: $value;
    } @else {
      padding-left: $value;
    }
  }
  [lang="ar"] & {
    @if ($direction == 'right') {
      padding-left: $value;
    } @else {
      padding-right: $value;
    }
  }
}

@mixin border($direction, $value, $type, $color) {
  ::ng-deep [lang="en"] & {
    @if ($direction == 'right') {
      border-right: $value $type $color;
    } @else {
      border-left: $value $type $color;
    }
  }
  ::ng-deep [lang="ar"] & {
    @if ($direction == 'right') {
      border-left: $value $type $color;
    } @else {
      border-right: $value $type $color;
    }
  }
  [lang="en"] & {
    @if ($direction == 'right') {
      border-right: $value $type $color;
    } @else {
      border-left: $value $type $color;
    }
  }
  [lang="ar"] & {
    @if ($direction == 'right') {
      border-left: $value $type $color;
    } @else {
      border-right: $value $type $color;
    }
  }
}

@mixin margin($direction, $value) {
  ::ng-deep [lang="en"] & {
    @if ($direction == 'right') {
      margin-right: $value;
    } @else {
      margin-left: $value;
    }
  }
  ::ng-deep [lang="ar"] & {
    @if ($direction == 'right') {
      margin-left: $value;
    } @else {
      margin-right: $value;
    }
  }
  [lang="en"] & {
    @if ($direction == 'right') {
      margin-right: $value;
    } @else {
      margin-left: $value;
    }
  }
  [lang="ar"] & {
    @if ($direction == 'right') {
      margin-left: $value;
    } @else {
      margin-right: $value;
    }
  }
}

@mixin text-align($value) {
  ::ng-deep [lang="en"] & {
    @if ($value == 'right') {
      text-align: right !important;
    } @else {
      text-align: left !important;
    }
  }
  ::ng-deep [lang="ar"] & {
    @if ($value == 'right') {
      text-align: left !important;
    } @else {
      text-align: right !important;
    }
  }
  [lang="en"] & {
    @if ($value == 'right') {
      text-align: right !important;
    } @else {
      text-align: left !important;
    }
  }
  [lang="ar"] & {
    @if ($value == 'right') {
      text-align: left !important;
    } @else {
      text-align: right !important;
    }
  }
}
