// Colors
$primary: #d85251;
$secondary: #e4e6e8;
$nativeColor: $primary;

$primary-background: #1f1f1f;
$secondary-background: #f4f4fb;
$third-background: #ffffff0d;
$banner-background: #5f5f5f7d;

$banner: rgba(214, 81, 79, 0.75);

$visited-link: #968585;

$primary-shadow: #dae5ef;
$transparent: #ffffff3b;

$black: #000;
$gray: #333333;
$light-gray: #A0A0A0;
$lighter-gray: #e7e7e7;
$red: #d85251;
$white: #fff;

$overlay: #000000cc;

$separate-line: #a0a0a030;
$separate-light: #e8e8e8;

// ltr to rtl
@import "rtl";

// Shadows
$gray-shadow: 0 0 0 0.2rem rgba(82, 82, 82, 0.25);

// Borders
$border-size: 3px;

// Typography
$font-family-base: 'Dubai Regular', sans-serif !default;
$headings-font-family: 'Dubai Regular', sans-serif !default;
$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;
$headings-font-weight: 800 !default;

$font-size-h1: 80px !default;
$font-size-h2: 45px !default;
$font-size-h3: 40px !default;
$font-size-h4: 35px !default;
$font-size-h5: 28px !default;
$font-size-h6: 20px !default;

$font-xlg-a: 24px !default;
$font-lg-a: 22px !default;
$font-md-a: 20px !default;
$font-sm-a: 16px !default;
$font-xsm-a: 14px !default;
$font-tn-a: 12px !default;

$paragraph-size: 1.25em !default;
$paragraph-medium-size: 1em !default;
$paragraph-small-size: 0.75em !default;
$paragraph-xsmall-size: 0.50em !default;

$primary-btn-size: 14px !default;
$primary-btn-size-sm: 11px !default;

/* Functions */
$grid-columns: 12;
$margin-rem: 20;
$padding-rem: 20;

/* Headings Differences */
$pixel-10: 10px;
$pixel-15: 15px;
$pixel-20: 20px;
$pixel-25: 25px;
$pixel-30: 30px;
$pixel-40: 40px;


/*Font override*/
$primary-font: 'Dubai Regular', sans-serif;
$font-size-base: 1rem;
$secondary-font: '';
$font-family-sans-serif: $primary-font;

