// Colors
$primary: #d85251;
$secondary: #e4e6e8;
$primary-background: #181818;
$secondary-background: #f4f4fb;
$third-background: #ffffff0d;
$primary-shadow: #dae5ef;
$transparent: #ffffff3b;
$black: #000;
$gray: #333333;
$red: #d85251;
$white: #fff;

// Shadows
$gray-shadow: 0 0 0 0.2rem rgba(82, 82, 82, 0.25);

// Typography
$font-family-base: 'Dubai Regular', sans-serif !default;
$headings-font-family: 'Dubai Bold', sans-serif !default;
$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;

$font-size-h1: 80px !default;
$font-size-h2: 45px !default;
$font-size-h3: 40px !default;
$font-size-h4: 35px !default;
$font-size-h5: 28px !default;
$font-size-h6: 20px !default;

$font-xlg-a: 24px !default;
$font-lg-a: 22px !default;
$font-md-a: 20px !default;
$font-sm-a: 16px !default;
$font-xsm-a: 14px !default;
$font-tn-a: 12px !default;

$paragraph-size: 18px !default;
$paragraph-medium-size: 16px !default;
$paragraph-small-size: 14px !default;
$paragraph-xsmall-size: 10px !default;

$primary-btn-size: 14px !default;
$primary-btn-size-sm: 11px !default;

/* Functions */
$grid-columns: 12;
$margin-rem: 20;
$padding-rem: 20;

/* Headings Differences */
$pixel-10: 10px;
$pixel-15: 15px;
$pixel-20: 20px;
$pixel-25: 25px;
$pixel-30: 30px;
$pixel-40: 40px;

