<div class="dcaa-partners mt-5 mb-5">
  <div class="container">
    <ngu-carousel
      [inputs]="carouselOptions">
      <ngu-item NguCarouselItem *ngFor="let partner of partners;">
       <div class="partner">
         <img [src]="partner" class="pointer-event">
       </div>
      </ngu-item>
      <button NguCarouselPrev class='carousel-left d-none'><i class="fa fa-chevron-left"></i></button>
      <button NguCarouselNext class='carousel-right d-none'><i class="fa fa-chevron-right"></i></button>
    </ngu-carousel>
  </div>
</div>
