@font-face {
  font-family: 'bree-thin';
  src: url('/assets/fonts/Montserrat-Regular.otf');
  src: url('/assets/fonts/Montserrat-Regular.otf') format('woff2'),
  url('/assets/fonts/Montserrat-Regular.otf') format('woff')
}
