@import "flex";
@import "spacing";
@import "text-align";
@import "animations";
@import "buttons";
@import "icons";

html,
body {
  margin: 0;
  font-size: 100%;
  background: $primary-background;
  font-family: $font-family-base;
}

body a {
  text-decoration: none;
  line-height: 1;
  color: $text-color;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: $font-xlg-a;
  @include respond-to(laptopL-screen) {
    font-size: $font-lg-a;
  }
  @include respond-to(laptop-screen) {
    font-size: $font-md-a;
  }
  @include respond-to(tablet-screen) {
    font-size: $font-sm-a;
  }
  @include respond-to(mobileL-screen) {
    font-size: $font-sm-a;
  }
  @include respond-to(mobileM-screen) {
    font-size: $font-xsm-a;
  }
  @include respond-to(mobileS-screen) {
    font-size: $font-tn-a;
  }
}

input[type="button"],
input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

h1 {
  color: $primary-color;
  font-family: 'Dubai Bold', sans-serif;
  margin: 25px 0;
  line-height: 1;
}

h2,
h3,
h4,
h5,
h6 {
  color: $gray-color;
  margin: 25px 0;
  line-height: 1;
}


li {
  list-style-type: none;
  color: $secondary-color;

  &:hover {
    color: $primary-color;
  }
}


ul {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

*, *:visited, *:focus {
  outline: 0;
}

.bolder-text {
  font-weight: 800;
}

.bold-text {
  font-weight: 700;
}


/* Colors */
.black-color {
  color: $black-color;
}

.red-color {
  color: $red-color;
}

.white-color {
  fill: $white-color;
  color: $white-color;
}

