//@import "animations";
@import "icons";
@import "fonts";

.btn-primary {
  border: 1px solid #fff;
  border-radius: 35px;
  background-color: $primary;

  &:hover {
    cursor: pointer;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    background-color: $primary;
  }

  &:active {
    transform: scale(0.9);
  }
}

.btn-secondary {
  border: 1px solid #fff;
  border-radius: 35px;
  background-color: $secondary;

  &:hover {
    cursor: pointer;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    background-color: $secondary;
  }

  &:active {
    transform: scale(0.9);
  }
}

.collapse .navbar-nav .nav-link {
  color: $white;
}

section {
  padding: 2em;
  background: $secondary-background;
}
