@import '../styles/variables';
@import '../styles/aos';
@import '../../lib/material-carousel/carousel';

$wide-screen: 1900px;
$laptopL-screen: 1440px;
$laptop-screen: 1024px;
$tablet-screen: 768px;
$mobileL-screen: 425px;
$mobileM-screen: 375px;
$mobileS-screen: 320px;

$margin-width-lg: 0 265px;
$margin-width-md: 0 100px;
$margin-width-sm: 0 75px;
$margin-width-xsm: 0 25px;

@mixin respond-to($media) {
  // between two sizes
  @if $media == wide-screen {
    @media (min-width: $wide-screen) {
      @content;
    }
  } @else if $media == laptopL-screen {
    @media only screen and (min-width: $laptopL-screen + 1) and (max-width: $wide-screen - 1) {
      @content;
    }
  } @else if $media == laptop-screen {
    @media only screen and (min-width: $laptop-screen + 1) and (max-width: $laptopL-screen) {
      @content;
    }
  } @else if $media == tablet-screen {
    @media only screen and (min-width: $tablet-screen + 1) and (max-width: $laptop-screen) {
      @content;
    }
  } @else if $media == mobileL-screen {
    @media only screen and (min-width: $mobileL-screen + 1) and (max-width: $tablet-screen) {
      @content;
    }
  } @else if $media == mobileM-screen {
    @media only screen and (min-width: $mobileM-screen + 1) and (max-width: $mobileL-screen) {
      @content;
    }
  } @else if $media == mobileS-screen {
    @media (max-width: $mobileM-screen - 1) {
      @content;
    }
  }
    /* Max To*/
  @else if $media == max-to-laptopL {
    @media (max-width: $laptopL-screen) {
      @content;
    }
  }
  @else if $media == max-to-laptop {
    @media (max-width: $laptop-screen) {
      @content;
    }
  } @else if $media == max-to-tablet {
    @media (max-width: $tablet-screen) {
      @content;
    }
  } @else if $media == max-to-mobile {
    @media (max-width: $mobileL-screen) {
      @content;
    }
  }
}
