@import "../../../../assets/styles/responsive";

.latest-news {
  background: $primary-color;
  border: 1px solid #a74345;
  color: $white-color;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;

  .content {
    margin: 0 160px;
  }

  &:after {
    content: '';
    height: 100%;
    width: 32px;
    background-color: #ad2724;
    position: absolute;
    right: 0;
    top: 0;
  }
}
