<div class="latest-news">
  <div class="container">
    <div class="row align-items-center ml-2">
      <div class="col-md-2">
        <span class="news-head">Latest News:</span>
      </div>
      <div class="col-md-10 border-right border-left border-transparent">
        <marquee onmouseover="this.stop();" onmouseout="this.start();" class="pt-2 pb-2 d-flex"
                 [direction]="_appService.currentLanguage == 'en' ? 'left' : 'right'"
        >
          <span class="icon-pointer">
              <span class="path1"></span>
              <span class="path2"></span>
            </span>
          <a>Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
          <span class="icon-pointer">
              <span class="path1"></span>
              <span class="path2"></span>
            </span>
          <a>Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
        </marquee>
      </div>
    </div>
  </div>
</div>
