@import '../../../../variables';

.latest-news {
  background: transparent;
  border: 0;
  height: auto;

  .container {
    @include padding(right, 0);
  }

  .news-item {
    padding: 5px 15px;
    @include border(right, 1px, solid, $transparent);
    @include border(left, 1px, solid, $transparent);
  }

  marquee a:hover {
    cursor: pointer;
  }

  .icon-pointer {
    margin: 0 10px;
    font-size: 0.3em;
    position: relative;
    bottom: 1px;

    .path1:before, .path2:before {
      color: $primary;
    }
  }
}

::ng-deep .dcaa-home {
  .latest-news {
    background: $primary;
    border: 1px solid #a74345;
    color: $white;
    height: 2.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      height: 100%;
      width: 32px;
      background-color: #ad2724;
      position: absolute;
      top: 0;
      @include right(0);
    }

    .news-item {
      border-color: transparent !important;

      a:hover {
        cursor: pointer;
      }
    }

    .icon-pointer {
      margin: 0 10px;
      font-size: 0.3em;
      position: relative;
      bottom: 1px;

      .path1:before, .path2:before {
        color: $white !important;
      }
    }
  }
}

